mixin productsDetailHeaderInfo
  .container__2920
    .products-detail-header-info
      +pagesPagination([{href: '/', text: 'Продукция'}, {href: '/', text: 'Подшипники качения'}])
      h2.products-detail-header-info__headline Роликовые подшипники
