.main-news {
  padding-bottom: 50px;
  max-width: 1920px;
  margin: 0 auto;

  &__wrap-btn {
    display: none;
    margin: 30px 24px 0 30px;
  }
}

.main-news-wrap-text {
  display: flex;
  align-items: center;
  max-width: 1520px;
  margin: 0 auto 31px;

  &__headline {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin: 0 48px 0 0;
    color: var(--black);
  }
  &__href {
    font-weight: 700;
    font-size: 18px;
    line-height: 15px;
    color: var(--red);
    margin: 0; // 15px 0 0
    text-decoration: none;
  }
}

.main-news-wrap-news {
  max-width: 1920px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  &__right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }
  &__left {
    margin-right: 50px;
  }
}

.main-news-elem {
  max-width: 455px;
  width: 100%;
  height: 408px;
}

@media (max-width: 1620px) {

  .main-news-wrap-text {
    max-width: 1432px;
    padding: 0 20px;
    margin-bottom: 17px;
    &__headline {
      margin: 0 35px 0 0;
    }
    &__href {
      margin: 15px 0 0;
    }
  }

  .main-news-elem {
    max-width: 565px;
  }
}

@media (max-width: 1300px) {
  .main-news {
    padding-bottom: 35px;
  }

  .main-news-elem {
    height: auto;
  }

  .main-news-wrap-text {
    display: flex;
    align-items: center;
    max-width: 1520px;
    margin: 0 auto 31px;
    padding: 0 57px;

    &__headline {
      font-weight: 700;
      font-size: 32px;
      line-height: 32px;
      margin: 0 18px 0 0;
    }
  }

  .main-news-wrap-news {
    grid-template-columns: 1.2fr 1fr;
    grid-column-gap: 35px;
    &__right {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-row-gap: 35px;
      .main-news-elem:nth-child(3),
      .main-news-elem:nth-child(4) {
        display: none;
      }
    }
    &__left {
      margin: 0;
    }
  }
}

@media (max-width: 1040px) {
  .main-news {
    padding-bottom: 30px;
  }
  .main-news-wrap-news {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.2fr; //0.98fr
    grid-row-gap: 30px;
    &__right {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-row-gap: 30px;
      grid-column-gap: 30px;
      .main-news-elem:nth-child(3),
      .main-news-elem:nth-child(4) {
        display: inline-block;
      }
    }
  }

  .main-news-wrap-text {
    margin: 0 auto 28px;
  }
}

@media (max-width: 800px) {
  .main-news {
    padding-bottom: 35px;
    &__wrap-btn {
      display: flex;
    }
  }

  .main-news-wrap-text {
    padding: 0 28px;
    &__headline {
      margin: 0;
    }
    &__href {
      display: none;
    }
  }


  .main-news-wrap-news {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr; //0.98fr
    grid-row-gap: 30px;

    &__right {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;

      .main-news-elem:nth-child(3),
      .main-news-elem:nth-child(4) {
        display: none;
      }
    }
  }
}

@media (max-width: 500px) {
  .main-news {
    padding-bottom: 30px;
    &__wrap-btn {
      margin: 29px 20px 0 20px;
    }
  }
  .main-news-wrap-news {
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 1fr; //0.98fr
    grid-row-gap: 20px;

    &__right {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-row-gap: 20px;
    }
  }

  .main-news-wrap-text {
    padding: 0 20px;
    margin-bottom: 20px;

    &__headline {
      margin: 0;
      font-size: 24px;
    }
  }
}
