include ../../ui/arrow
include header-info

mixin headerSlider()
  .header-slider
    .swiper-wrapper
      .swiper-slide
        img(src='../../images/header/header-slide-1.png').swiper-slide__image
      .swiper-slide
        img(src='../../images/header/header-slide-1.png').swiper-slide__image
    .wrap-header-info
      .container__2920
        +headerInfo()

