include ../../ui/pop-up-menu-header
include ../../ui/pages-pagination
-
  let menu = [{name: 'о компании', href: '/',
    submenu: [{text: 'О компании', href: '/'},
      {text: 'новости и акции', href: '/'},
      {text: 'Нам доверяют', href: '/'},
      {text: 'Команда', href: '/'},
      {text: 'вакансии', href: '/'},
      {text: 'Фотогалерея/Видеогалерея', href: '/'},
      {text: 'Сертификаты', href: '/'}]},
    {name: 'Продукция', href: '/',
      submenu: [{text: 'Продукция', href: '/'},
        {text: 'Справочная информация', href: '/'}]},
    {name: 'сервис и услуги', href: '/',
      submenu: [{text: 'Сервис и услуги', href: '/'},
        {text: 'Оптимизация Технического обслуживания и ремонта оборудования', href: '/'},
        {text: 'Повышение надежности работы оборудования', href: '/'},
        {text: 'Вибродиагностика и наладка оборудования', href: '/'},
        {text: 'Ремонт и изготовление приводной техники', href: '/'},
        {text: 'Мониторинг состояния оборудования', href: '/'}]},
    {name: 'Контакты', href: '/', submenu: null}
  ]

mixin headerParthers(back, pagination, theme, logo)
  header.header-parthers(style=`background-image: url('../../images/header/${back}');`)
    .header__burger.header__burger_none
      +popUpMenuHeader(menu)
    .header__wrap-menu
      .container__2920
        if theme !== undefined && logo !== undefined
          +mainMenu(menu, 'main-menu_parthers', theme, logo)
        else
          +mainMenu(menu, 'main-menu_parthers')
    .header-parthers__pagination
      .container__2920
        +pagesPagination(pagination)



    //header.header menu, className, theme, logo (main-menu_black, )
      .header__burger
        //+popUpMenuHeader(menu)
      .header__wrap-menu
        .container__2920
          +mainMenu(menu)
