include ../../ui/arrow
include ../service/service-header-info
include ../../ui/pop-up-menu-header
include ../../ui/main-menu

mixin headerService
  header.header-service
    .header__burger.header__burger_none
      +popUpMenuHeader(menu)
    .header__wrap-menu
      .container__2920
        +mainMenu(menu, 'main-menu_parthers')
    .header-service-slider
      .swiper-wrapper
        .swiper-slide
          img(src='../../images/header/header-service.png').swiper-slide__img
        .swiper-slide
          img(src='../../images/header/header-service.png').swiper-slide__img
      +serviceHeaderInfo()
      .wrap-service-control
        .service-pagination

        .service-control
          .service-control_prev
            +arrow('arrow_white')
          .service-control_next
            +arrow('arrow_red arrow_right')
