.products-detail-container {
  display: flex;
  padding: 50px 0 120px;
}


.products-detail-container-right {
  width: 100%;
  display: flex;
  flex-basis: 365px;
  flex-shrink: 2;
}


.products-detail-container-left {
  margin-right: 24px;
  max-width: 1150px;

  &__text {
    max-width: 1040px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.01em;
    &_top {
      margin: 0 0 10px;
    }
  }

  &__line {
    width: 225px;
    height: 4px;
    background: var(--red);
    margin-top: 36px;
  }
}

@include md {
  .products-detail-container {
    flex-direction: column;
  }


  .products-detail-container-left {
    margin: 0;

    &__text {
      &_top {
        margin: 0 0 15px;
      }
    }

    &__line {
      margin-top: 44px;
    }
  }
}

@include tablet {
  .products-detail-container {
    padding: 25px 0 70px;
  }


  .products-detail-container-right {
    padding-top: 105px;
  }
}

@include sm {
  .products-detail-container {
    padding: 30px 0 70px;
  }


  .products-detail-container-right {
    padding-top: 90px;
  }


  .products-detail-container-left {
    &__text {
      line-height: 123%;
      &_top {
        margin: 0;
      }
    }

    &__line {
      margin-top: 33px;
    }
  }
}
