include ../ui/btn

mixin companyRange
  .company-range
    img(src='../../images/company-range.png').company-range__img
    .company-range-texts
      h2.company-range-texts__headline Широкий ассортимент
      p.company-range-texts__text.company-range-texts__text_top Все вышеперечисленное позволяет вам выбрать из 15 000 видов продукции (в том числе премиум-брендов), которая постоянно есть в наличии на нашем складе.
      p.company-range-texts__text Мы работаем как с крупнейшими предприятиями России, так и розничным потребителями. Для них в 2021 году был открыт розничный магазин подшипниковой продукции.
      .company-range-buttons
        .company-range-buttons__btn_red
          +btn('Перейти в каталог', 'btn_red', '/')
        .company-range-buttons__btn_black
          +btn('Интернет-магазин', 'btn_white', '/')
