mixin companyValues
  .company-values
    .company-values-texts
      h2.company-values-texts__headline Ценности компании и наших сотрудников
      p.company-values-texts__text.company-values-texts__text_top На современном рынке важно не только, что мы продаем, но и как мы ведем бизнес и выстраиваем взаимоотношения не только с партнерами, но и сотрудниками, поставщиками, подрядчиками и всем окружающим миром.
      p.company-values-texts__text У нас есть свои принципы и ответственность.
    .company-values-images
      img(src='../../images/ellipse.png').company-values-images__img
      img(src='../../images/ellipse.png').company-values-images__img
