include ./company-range
include ./company-possibilitys
include ./company-values
include ./company-slider
include ./company-dates


mixin companyContainer
  .container__2920
    .company-container
      .company-container__wrap-possibilitys
        +companyPossibilitys
      .company-container__wrap-range
        +companyRange()
      .company-container__wrap-
        +companyDates(
          [
            {img: 'years-1.png', headline: '2007', bold: 'Официальный дистрибьютор NSK LTD (Япония)', text: null},
            {img: 'years-2.png', headline: '2011', bold: 'Официальный дистрибьютор NTN SNR (Япония/Франция)', text: null},
            {img: 'years-3.png', headline: '2012', bold: 'Официальный дистрибьютор Kugel und Rollenlagerwerk Leipzig Gmbh (Германия).', text: 'Открытие первого представительства в г. Ижевск'},
            {img: 'years-4.png', headline: '2014', bold: null, text: 'Участие в выставке CHINA INTERNATIONAL BEARING INDUSTRY EXHIBITION (Shanghai, China )'},
            {img: 'years-5.png', headline: '2018', bold: null, text: 'Открытие консигнационного склада в компании РМК. Внедрение в систему продаж комплексного подхода с предоставлением сервиса по техническому обслуживанию предприятий (RAP-партнерство)'},
            {img: 'years-6.png', headline: '2017', bold: 'Официальный дистрибьютор ISB Industries (Италия ). Открытие филиала в г. Новосибирск.', text: 'Совместное участие с NSK Ltd в Международной выставке «Уголь России и Майнинг» г. Новокузнецк. Открытие консигнационного склада в компании Сибур.'},
            {img: 'years-7.png', headline: '2016', bold: 'Открыт первый консигнационный склад на базе компании Mondi. Открытие представительства в г.Уфа.', text: 'Совместное участие с NSK Ltd в Международной выставке «Газ. Нефть. Технологии» г. Уфа.'},
            {img: 'years-8.png', headline: '2015', bold: 'Официальный дистрибьютор SKF (Швеция).', text: 'Совместное участие с SKF в международной специализированной выставке технологий и оборудования для нефтяной, газовой и химической промышленности «Нефть и Газ. Химия» г. Пермь'},
            {img: 'years-9.png', headline: '2019', bold: 'официальный дистрибьютор Timken (США)', text: null},
            {img: 'years-10.png', headline: '2020', bold: null, text: 'Ввод в эксплуатацию собственного офисного пространства со складским комплексом более 5000 м2. ТОП-100 поставщиков по версии ЭТП Тендер-Про. Создание собственного высокотехнологичного обучающего центра для технических служб предприятий-заказчиков.'},
            {img: 'years-11.png', headline: '2021', bold: 'Внедрение системы управления складом WMS', text: 'Открытие розничного направления продаж и магазина'},
            {img: 'years-12.png', headline: '2022', bold: null, text: '4 квартал – открытие 2-х новых консигнационных складов (майнинг). 4 квартал – открытие B2C- направления.'},
            {img: 'years-13.png', headline: '2023', bold: null, text: 'открытие филиала г. Хабаровск.'}
          ])

      .company-container__wrap-values
        +companyValues
      //.company-container__wrap-slider
        +companySlider(
          ['company-slider-1.png', 'company-slider-1.png', 'company-slider-1.png'],
          {
            type: '',
            headline: 'Безопасность',
            texts: [
              'Наша продукция - основа безопасностипредприятия и его бесперебойной работы. Несмотря на то, что мы являемся дистрибьютерами продукции, мы отвечаем заее качество и становимся вашим партнером взащите интересов компании при наличии производственного брака.',
              'Для обеспечения полной безопасности нашихпартнеров в 2020 году мы создалисобственный высокотехнологичныйобучающего центра для технических службпредприятий-заказчиков.'],
            bold: [
              'Все 15 000 видов продукции соответствуют требованиям ГОСТ 520 - 20II, ISO 9001 - 2008'
            ]
          },
          'company-slider-info_red')
      //.company-container__wrap-slider
        +companySlider(
          ['company-slider-2.png', 'company-slider-2.png', 'company-slider-2.png'],
          {
            type: '',
            headline: 'Забота',
            texts: ['Забота для нас начинается c теплого приема и комфортных переговоров, включает в себя полноетехническое сопровождение процесса покупки продукции и не заканчивается после продажи.',
              'Мы предоставляем полный цикл сервиса потехническому обслуживанию предприятий-партнеров и всей поставленной продукции.',
              'Вам не нужно будет думать об обслуживании и ремонте — всю операционную работу мы берем на себя.',
              'Также как мы заботимся о партнерах, мы заботимся и о наших сотрудниках: в новом современное офисном пространстве для них открыты тренажерный зал,  эргономичнаязона отдыха и питания.'],
          },
          'company-slider-info_bej',
          'reverse')
      //.company-container__wrap-slider
        +companySlider(
          ['company-slider-3.png', 'company-slider-3.png', 'company-slider-3.png'],
          {
            type: '',
            headline: 'Экологичность',
            texts: [
            'Загрязнение окружающей среды — серьезный фактор риска для будущего нашей планеты. Как крупная международная компания мы считаем себя обязанными вносить свой вклад вразвитие экологичных проектов и сохранение здоровья людей.',
            'На наших 5000 м2 офисного пространства мыследим за использованием биоразлагаемыхматериалов, обогащаем кислородом и влагой воздух благодаря фитостенам для сохранения здоровья наших сотрудников.',
            ]
          },
            'company-slider-info_grey'
          )

//{img: null, headline: '2001', bold: 'Основание компании Импортсервис', text: null},
    //[
    //{img: '', headline: '2001', bold: 'Основание компании Импортсервис', text: ''},
//{img: 'years-1.png', headline: '2007', bold: 'Официальный дистрибьютор NSK LTD (Япония)', text: ''},
//{img: 'years-2.png', headline: '2011', bold: 'Официальный дистрибьютор NTN SNR (Япония/Франция)', text: ''},
//{img: 'years-3.png', headline: '2012', bold: 'Официальный дистрибьютор Kugel und Rollenlagerwerk Leipzig Gmbh (Германия).', text: 'Открытие первого представительства в г. Ижевск'},
//{img: 'years-4.png', headline: '2014', bold: '', text: 'Участие в выставке CHINA INTERNATIONAL BEARING INDUSTRY EXHIBITION (Shanghai, China )'},
//{img: 'years-5.png', headline: '2018', bold: '', text: 'Открытие консигнационного склада в компании РМК. Внедрение в систему продаж комплексного подхода с предоставлением сервиса по техническому обслуживанию предприятий (RAP-партнерство)'},
//{img: 'years-6.png', headline: '2017', bold: 'Официальный дистрибьютор ISB Industries (Италия ). Открытие филиала в г. Новосибирск.', text: 'Совместное участие с NSK Ltd в Международной выставке «Уголь России и Майнинг» г. Новокузнецк. Открытие консигнационного склада в компании Сибур.'},
//{img: 'years-7.png', headline: '2016', bold: 'Открыт первый консигнационный склад на базе компании Mondi. Открытие представительства в г.Уфа.', text: 'Совместное участие с NSK Ltd в Международной выставке «Газ. Нефть. Технологии» г. Уфа.'},
//{img: 'years-8.png', headline: '2015', bold: 'Официальный дистрибьютор SKF (Швеция).', text: 'Совместное участие с SKF в международной специализированной выставке технологий и оборудования для нефтяной, газовой и химической промышленности «Нефть и Газ. Химия» г. Пермь'},
//{img: 'years-9.png', headline: '2019', bold: 'официальный дистрибьютор Timken (США)', text: ''},
//{img: 'years-10.png', headline: '2020', bold: '', text: 'Ввод в эксплуатацию собственного офисного пространства со складским комплексом более 5000 м2. ТОП-100 поставщиков по версии ЭТП Тендер-Про. Создание собственного высокотехнологичного обучающего центра для технических служб предприятий-заказчиков.'},
//{img: 'years-11.png', headline: '2021', bold: 'Внедрение системы управления складом WMS', text: 'Открытие розничного направления продаж и магазина'},
//{img: 'years-12.png', headline: '2022', bold: '', text: '4 квартал – открытие 2-х новых консигнационных складов (майнинг). 4 квартал – открытие B2C- направления.'},
//{img: 'years-13.png', headline: '2023', bold: '', text: 'открытие филиала г. Хабаровск.'}
//]
