.service-content-cards {
  display: grid;
  grid-template-columns: 1.08fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  margin-top: 30px;
}

.sidebar {
  .service-content-cards {
    margin-top: 40px;
  }
}

@media (max-width: 1620px) {
  .service-content-cards {
    margin-top: 17px;
  }
  .sidebar {
    .service-content-cards {
      margin-top: 27px;
    }
  }
}

@media (max-width: 1300px) {
  .service-content-cards {
    margin-top: 30px;
  }
  .sidebar {
    .service-content-cards {
      grid-template-columns: 1.05fr 0.95fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
    }
  }
}


@media (max-width: 1100px) {
   .service-content-cards {
     grid-template-columns: 1.07fr 1fr;
     grid-template-rows: 1fr 1fr 1fr 1fr;
   }

  .sidebar {
    .service-content-cards {
      grid-template-columns: 1.07fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
    }
  }
}


@media (max-width: 530px) {
  .service-content-cards {
    margin-top: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .sidebar {
    .service-content-cards {
      margin-top: 20px;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }

}
