.service-container-double {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
}

.sidebar {
  .service-container-double {
    padding-top: 60px;
  }
}

@media (max-width: 1620px) {
  .service-container-double {
    padding-top: 70px;
  }
}

@media (max-width: 1300px) {
  .service-container-double {
    padding-top: 110px;
  }

  .sidebar {
    .service-container-double {
      padding-top: 115px;
    }
  }
}

@media (max-width: 1100px) {
  .service-container-double {
    padding-top: 65px;
  }

  .sidebar {
    .service-container-double {
      padding-top: 40px;
    }
  }
}

@media (max-width: 800px) {
  .service-container-double {
    padding-top: 75px;
    margin: 0 -15px 0 -28px;
  }
  .sidebar {
    .service-container-double {
      padding-top: 75px;
    }
  }
}


@media (max-width: 500px) {
  .service-container-double {
    padding-top: 65px;
    margin: 0 -20px 0;
  }
  .sidebar {
    .service-container-double {
      padding-top: 65px;
    }
  }
}
