.service-content-left {
  width: 100%;
  &__headline {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: 0.03em;
  }
}


.sidebar {
  .service-content-left {
    &__headline {
      max-width: 1000px;
    }
  }
}
// max-width: 761px;
@media (max-width: 1300px) {
  .service-content-left {
    //max-width: 761px;
    &__headline {

    }
  }
}

@media (max-width: 1100px) {

}

@media (max-width: 500px) {
  .service-content-left {
    &__headline {
      font-style: normal;
      font-weight: 400;
      font-size: 23px;
      line-height: 140%;
    }
  }
}
