\:root
  --white: #FFFFFF
  --red: #AB2421
  --black: #1F1111
  --grey-light: #B1B2B3
  --grey: #57585A
  --back-button: #DCDBD7
  --green: #6FCF97
  --yellow-light: #FFFAD1
  --reb-dark: #8F0E0B
  --bej: #EEEEEE
  --grey-white: #DFDFDF
  --grey-black: #3B3B3B
  --partners-bord: #E2E2E2
  --service-grey: #5A5A5C
