.news-content-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-content-settings-checkeds {
  display: flex;
  max-width: 748px;
  justify-content: space-between;
  width: 100%;
  &__elem {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
}

.check-slide-text {
  margin: 0 0 0 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: var(--black);
}

.news-content-settings-falls {
  display: flex;
  position: relative;
  //margin-left: 10px;
  &__name {
    margin: 0 14px 0 0;
  }
  &__option {
    margin: 0; //0 20px 0 0
    border-bottom: 2px solid var(--red);
    font-weight: 700;
    font-size: 16px;
    color: var(--black);
    cursor: pointer;
    display: flex;

    &:hover + .news-content-settings-falls-options {
      display: block;
      //border: 2px solid red;
    }

    span {
      display: inline-block;
      margin: 0 0 0 32px;
    }
  }
}

.news-content-settings-falls-options {
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  background: var(--bej);
  z-index: 3;

  &:hover {
    display: block;
  }

  &__elem {
    margin: 0;
    padding: 3px 26px 2px 14px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--black);
    &:hover {
      opacity: 0.7;
    }
  }
}


@media (max-width: 900px) {
  .news-content-settings {
    display: none;
  }

  .news-content-settings-falls-options {
    //position: absolute;
    //top: 20px;
    left: 40px;
    max-width: 85px;
  }
}

