mixin bearingElem(image, headline)
  .bearing-elem
    .bearing-elem__image
      != image
    p.bearing-elem__headline!= headline
      <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 0.955078L5.29289 5.24797C5.68342 5.6385 5.68342 6.27166 5.29289 6.66219L1 10.9551" stroke="#AB2421" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
