include ../ui/main-menu-vertical
include ../ui/btn

mixin mainMenu(menu, className)
  nav(class=`main-menu ${className}`)
    ul.main-menu-list
      each el in menu
        li.main-menu-elem
          a(href= href).main-menu-elem__href= el.name
          if el.submenu !== null
            <svg width="11" height="6" viewBox="0 0 11 6" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.5 0.5L6.20711 4.79289C5.81658 5.18342 5.18342 5.18342 4.79289 4.79289L0.5 0.5" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            +mainMenuVertical(el.submenu)
    .header-contacts
      p.header-contacts__email zakaz@impservice.ru
      p.header-contacts__phone +7 (342) 225-00-88
      .header-contacts__wrap-btn
        +btn('Заказать звонок', 'btn_invisible', '/')


    //nav(class=`main-menu ${className}`)
    //  ul.main-menu-list
    //    each el in menu
    //      li.main-menu-elem
    //        a(href= href).main-menu-elem__href= el.name
    //        if el.submenu !== null
    //          <svg width="11" height="6" viewBox="0 0 11 6" fill="none" xmlns="http://www.w3.org/2000/svg">
    //          <path d="M10.5 0.5L6.20711 4.79289C5.81658 5.18342 5.18342 5.18342 4.79289 4.79289L0.5 0.5" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"/>
    //          </svg>
    //          +mainMenuVertical(el.submenu)
    //  .header-contacts
    //    p.header-contacts__email zakaz@impservice.ru
    //    p.header-contacts__phone +7 (342) 225-00-88
    //    .header-contacts__wrap-btn
    //      +btn('Заказать звонок', 'btn_invisible', '/')
