mixin mainMenuVertical(elem)
  nav.main-menu-vertical
    ul.main-menu-vertical-list
      each el in elem
        a(href= el.href).main-menu-vertical-elem= el.text
      //li.main-menu-vertical-elem
      //  a(href='/').main-menu-vertical-elem__href О компании
      //li.main-menu-elem
      //  a(href='/').main-menu-vertical-elem__href новости и акции
      //li.main-menu-elem
      //  a(href='/').main-menu-vertical-elem__href Нам доверяют
      //li.main-menu-elem
      //  a(href='/').main-menu-vertical-elem__href Команда
      //li.main-menu-elem
      //  a(href='/').main-menu-vertical-elem__href вакансии
      //li.main-menu-elem
      //  a(href='/').main-menu-vertical-elem__href Фотогалерея/Видеогалерея
      //li.main-menu-elem
      //  a(href='/').main-menu-vertical-elem__href Сертификаты

        //
