include ../ui/main-menu-vertical
include ../ui/btn

mixin mainMenuFooter(menu)
  nav(class=`main-menu-footer`)
    ul.main-menu-footer-list
      each el in menu
        a(href= el.href).main-menu-footer-list__elem= el.name

