mixin mainMenuBurgerVertical(elem)
  nav.main-menu-burger-vertical
    ul.main-menu-burger-vertical-list
      each el in elem
        a(href= el.href).main-menu-burger-vertical-list__elem
          span
          =el.text
