mixin newsElemBig(href, headline, image = null)
  if image
    div(style=`background: url('../../images/news/${image}') center 100% no-repeat;`).news-elem-big
      a(href= href).news-elem-big__href Обзор
      h3.news-elem-big__headline= headline
  else
    .news-elem-big
      a(href= href).news-elem-big__href Обзор
      h3.news-elem-big__headline= headline

      //style=`background: url('../../images/${image}') no-repeat;`
