mixin pagesPagination(elem)
  .pages-pagination
    .pages-pagination__img
      <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.06811 0.624135L8.50028 0.232422L7.93244 0.624135L0.789587 5.55155L0.357422 5.84967V6.37469V18.6263V19.6263H1.35742H5.62961C5.63411 19.6264 5.63862 19.6264 5.64314 19.6264C6.19542 19.6264 6.64314 19.1787 6.64314 18.6264V14.0144C6.64314 12.9887 7.47461 12.1573 8.50028 12.1573C9.52595 12.1573 10.3574 12.9887 10.3574 14.0144V18.6264C10.3574 19.1787 10.8051 19.6264 11.3574 19.6264C11.3619 19.6264 11.3664 19.6264 11.371 19.6263H15.6431H16.6431V18.6263V6.37469V5.84967L16.211 5.55155L9.06811 0.624135ZM12.3574 17.6263H14.6431V6.89971L8.50028 2.66213L2.35742 6.89971V17.6263H4.64314V14.0144C4.64314 11.8842 6.37004 10.1573 8.50028 10.1573C10.6305 10.1573 12.3574 11.8842 12.3574 14.0144V17.6263Z" fill="white"/>
      </svg>
    .pages-pagination__wrap-elems
      each el in elem
        a(href=`${el.href}`).pages-pagination-elem= el.text
        <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L5.29289 5.29289C5.68342 5.68342 5.68342 6.31658 5.29289 6.70711L1 11" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
