mixin pdfElem(href, headline, size)
  a(href= href).pdf-elem
    img(src='../../images/pdf.png').pdf-elem__icon
    .pdf-elem-wrap-text
      h3.pdf-elem-wrap-text__headline= headline
      p.pdf-elem-wrap-text__size!= `PDF (${size} МБ)`
