mixin popUpVacanciesResume
  .pop-up-vacancies-resume
    h2.pop-up-vacancies-resume__headline Отправить резюме
    .pop-up-vacancies-blank
      p.pop-up-vacancies-blank__text Если у Вас нет готового резюме, скачайте бланк резюме, заполните необходимые поля и отправьте его нам через форму
      .pop-up-vacancies-blank-elem
        img(src='../../images/download-file.png').pop-up-vacancies-blank-elem__img
        p.pop-up-vacancies-blank-elem__name Бланк резюме
        p.pop-up-vacancies-blank-elem__size 0.23 MB (.doc)
