include ./pop-up-multimedia-video

mixin popUpMultimediaSlider
  .pop-up-multimedia-slider
    .pop-up-slider
      .swiper-wrapper
        .swiper-slide
          img(src='../../images/ui/pop-up-slide-1.jpg').swiper-slide__image
        .swiper-slide
          img(src='../../images/ui/pop-up-slide-1.jpg').swiper-slide__image
        .swiper-slide
          +popUpMultimediaVideo
