include ./pop-up-accessories-list

mixin popUpAccessories(headImg, headline)
  div(style=`background: url("../../images/ui/back-black.png") repeat center center;`).wrap-pop-up-accessories.wrap-pop-up-accessories_none
    .pop-up-accessories
      .pop-up-accessories-head
        img(src=`../../images/ui/${headImg}`).pop-up-accessories-head__img
        h2.pop-up-accessories-head__headline= headline
        img(src='../../images/ui/cross.png').pop-up-accessories-head__cross

      .pop-up-accessories-container
        .pop-up-accessories-content
          .pop-up-accessories-content-img
            img(src='../../images/ui/accessories-content-1.png').pop-up-accessories-content__img
          h3.pop-up-accessories-content__headline Гидравлические инструменты для монтажа и демонтажа
      .pop-up-accessories-container
        .pop-up-accessories-content
          .pop-up-accessories-content-img
            img(src='../../images/ui/accessories-content-2.png').pop-up-accessories-content__img
          h3.pop-up-accessories-content__headline Механические инструменты для монтажа и демонтажа
      .pop-up-accessories-container
        .pop-up-accessories-content
          .pop-up-accessories-content-img
            img(src='../../images/ui/accessories-content-3.png').pop-up-accessories-content__img
          h3.pop-up-accessories-content__headline Нагреватели для монтажа и демонтажа
      .pop-up-accessories-container
        .pop-up-accessories-content
          .pop-up-accessories-content-img
            img(src='../../images/ui/accessories-content-4.png').pop-up-accessories-content__img
          h3.pop-up-accessories-content__headline Инструменты для выверки соосности




      .pop-up-accessories-elem
        .pop-up-accessories-elem-left
          .pop-up-accessories-elem-left-wrap-img
            img(src=`../../images/ui/accessories-1-1.png`).pop-up-accessories-elem-left__img
          h3.pop-up-accessories-elem-left__headline Подшипники качения
        .pop-up-accessories-elem-right
          .pop-up-accessories-elem-right-list
            +popUpAccessoriesList('<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">\n' +
            '            <circle cx="20" cy="20" r="19.5" stroke="#1F1111"/>\n' +
            '            <circle cx="20.1113" cy="19.8906" r="16.9863" stroke="#1F1111"/>\n' +
            '            <circle cx="20.1083" cy="19.8896" r="10.8661" stroke="#1F1111"/>\n' +
            '            <circle cx="20.1104" cy="19.8916" r="8.24317" stroke="#1F1111"/>\n' +
            '            <circle cx="9.83745" cy="9.8355" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="20.107" cy="5.46441" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="20.107" cy="34.3179" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="5.90386" cy="19.8902" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="34.5367" cy="19.8902" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="30.3843" cy="9.8355" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="30.1656" cy="30.1636" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="10.0562" cy="30.1636" r="2.56011" stroke="#1F1111"/>\n' +
            '            </svg>', 'Шарикоподшипники', null)
            +popUpAccessoriesList('<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">\n' +
            '            <circle cx="20" cy="20" r="19.5" stroke="#1F1111"/>\n' +
            '            <circle cx="20.1113" cy="19.8906" r="16.9863" stroke="#1F1111"/>\n' +
            '            <circle cx="20.1083" cy="19.8896" r="10.8661" stroke="#1F1111"/>\n' +
            '            <circle cx="20.1104" cy="19.8916" r="8.24317" stroke="#1F1111"/>\n' +
            '            <circle cx="9.83745" cy="9.8355" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="20.107" cy="5.46441" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="20.107" cy="34.3179" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="5.90386" cy="19.8902" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="34.5367" cy="19.8902" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="30.3843" cy="9.8355" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="30.1656" cy="30.1636" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="10.0562" cy="30.1636" r="2.56011" stroke="#1F1111"/>\n' +
            '            </svg>', 'Роликоподшипники', ['Радиальные шарикоподшипники',
              'Корпусные подшипники',
              'Радиально-упорные подшипники',
              'Самоустанавливающиеся шарикоподшипники',
              'Упорные шарикоподшипники',
              'Упорно-радиальные шарикоподшипники']
            )
            +popUpAccessoriesList('<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">\n' +
            '            <circle cx="20" cy="20" r="19.5" stroke="#1F1111"/>\n' +
            '            <circle cx="20.1113" cy="19.8906" r="16.9863" stroke="#1F1111"/>\n' +
            '            <circle cx="20.1083" cy="19.8896" r="10.8661" stroke="#1F1111"/>\n' +
            '            <circle cx="20.1104" cy="19.8916" r="8.24317" stroke="#1F1111"/>\n' +
            '            <circle cx="9.83745" cy="9.8355" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="20.107" cy="5.46441" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="20.107" cy="34.3179" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="5.90386" cy="19.8902" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="34.5367" cy="19.8902" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="30.3843" cy="9.8355" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="30.1656" cy="30.1636" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="10.0562" cy="30.1636" r="2.56011" stroke="#1F1111"/>\n' +
            '            </svg>', 'Принадлежности подшипников', null)
            +popUpAccessoriesList('<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">\n' +
            '            <circle cx="20" cy="20" r="19.5" stroke="#1F1111"/>\n' +
            '            <circle cx="20.1113" cy="19.8906" r="16.9863" stroke="#1F1111"/>\n' +
            '            <circle cx="20.1083" cy="19.8896" r="10.8661" stroke="#1F1111"/>\n' +
            '            <circle cx="20.1104" cy="19.8916" r="8.24317" stroke="#1F1111"/>\n' +
            '            <circle cx="9.83745" cy="9.8355" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="20.107" cy="5.46441" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="20.107" cy="34.3179" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="5.90386" cy="19.8902" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="34.5367" cy="19.8902" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="30.3843" cy="9.8355" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="30.1656" cy="30.1636" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="10.0562" cy="30.1636" r="2.56011" stroke="#1F1111"/>\n' +
            '            </svg>', 'Подшипники - опорные ролики', null)

      .pop-up-accessories-elem
        .pop-up-accessories-elem-left
          .pop-up-accessories-elem-left-wrap-img
            img(src=`../../images/ui/accessories-1-1.png`).pop-up-accessories-elem-left__img
          h3.pop-up-accessories-elem-left__headline Подшипниковые узлы и корпуса
        .pop-up-accessories-elem-right
          .pop-up-accessories-elem-right-list
            +popUpAccessoriesList('<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">\n' +
            '            <circle cx="20" cy="20" r="19.5" stroke="#1F1111"/>\n' +
            '            <circle cx="20.1113" cy="19.8906" r="16.9863" stroke="#1F1111"/>\n' +
            '            <circle cx="20.1083" cy="19.8896" r="10.8661" stroke="#1F1111"/>\n' +
            '            <circle cx="20.1104" cy="19.8916" r="8.24317" stroke="#1F1111"/>\n' +
            '            <circle cx="9.83745" cy="9.8355" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="20.107" cy="5.46441" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="20.107" cy="34.3179" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="5.90386" cy="19.8902" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="34.5367" cy="19.8902" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="30.3843" cy="9.8355" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="30.1656" cy="30.1636" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="10.0562" cy="30.1636" r="2.56011" stroke="#1F1111"/>\n' +
            '            </svg>', 'Шарикоподшипниковые узлы', null)
            +popUpAccessoriesList('<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">\n' +
            '            <circle cx="20" cy="20" r="19.5" stroke="#1F1111"/>\n' +
            '            <circle cx="20.1113" cy="19.8906" r="16.9863" stroke="#1F1111"/>\n' +
            '            <circle cx="20.1083" cy="19.8896" r="10.8661" stroke="#1F1111"/>\n' +
            '            <circle cx="20.1104" cy="19.8916" r="8.24317" stroke="#1F1111"/>\n' +
            '            <circle cx="9.83745" cy="9.8355" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="20.107" cy="5.46441" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="20.107" cy="34.3179" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="5.90386" cy="19.8902" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="34.5367" cy="19.8902" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="30.3843" cy="9.8355" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="30.1656" cy="30.1636" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="10.0562" cy="30.1636" r="2.56011" stroke="#1F1111"/>\n' +
            '            </svg>', 'Корпуса подшипников', null)

      //без элементов
      .pop-up-accessories-elem
        .pop-up-accessories-elem-left
          .pop-up-accessories-elem-left-wrap-img
            img(src=`../../images/ui/accessories-1-1.png`).pop-up-accessories-elem-left__img
          h3.pop-up-accessories-elem-left__headline Опорно-поворотные устройства
        .pop-up-accessories-elem-right
          //.pop-up-accessories-elem-right-list
            +popUpAccessoriesList('accessories-1-1-1.png', 'Шарикоподшипниковые узлы', null)
            +popUpAccessoriesList('accessories-1-1-1.png', 'Корпуса подшипников', null)

      .pop-up-accessories-elem
        .pop-up-accessories-elem-left
          .pop-up-accessories-elem-left-wrap-img
            img(src=`../../images/ui/accessories-1-1.png`).pop-up-accessories-elem-left__img
          h3.pop-up-accessories-elem-left__headline Подшипники скольжения
        .pop-up-accessories-elem-right
          .pop-up-accessories-elem-right-list
            +popUpAccessoriesList('<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">\n' +
            '            <circle cx="20" cy="20" r="19.5" stroke="#1F1111"/>\n' +
            '            <circle cx="20.1113" cy="19.8906" r="16.9863" stroke="#1F1111"/>\n' +
            '            <circle cx="20.1083" cy="19.8896" r="10.8661" stroke="#1F1111"/>\n' +
            '            <circle cx="20.1104" cy="19.8916" r="8.24317" stroke="#1F1111"/>\n' +
            '            <circle cx="9.83745" cy="9.8355" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="20.107" cy="5.46441" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="20.107" cy="34.3179" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="5.90386" cy="19.8902" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="34.5367" cy="19.8902" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="30.3843" cy="9.8355" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="30.1656" cy="30.1636" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="10.0562" cy="30.1636" r="2.56011" stroke="#1F1111"/>\n' +
            '            </svg>', 'Сферические подшипники скольжения и наконечники штоков', null)
            +popUpAccessoriesList('<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">\n' +
            '            <circle cx="20" cy="20" r="19.5" stroke="#1F1111"/>\n' +
            '            <circle cx="20.1113" cy="19.8906" r="16.9863" stroke="#1F1111"/>\n' +
            '            <circle cx="20.1083" cy="19.8896" r="10.8661" stroke="#1F1111"/>\n' +
            '            <circle cx="20.1104" cy="19.8916" r="8.24317" stroke="#1F1111"/>\n' +
            '            <circle cx="9.83745" cy="9.8355" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="20.107" cy="5.46441" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="20.107" cy="34.3179" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="5.90386" cy="19.8902" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="34.5367" cy="19.8902" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="30.3843" cy="9.8355" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="30.1656" cy="30.1636" r="2.56011" stroke="#1F1111"/>\n' +
            '            <circle cx="10.0562" cy="30.1636" r="2.56011" stroke="#1F1111"/>\n' +
            '            </svg>', 'Втулки', null)


    .pop-up-accessories-cross
      img(src='../../images/ui/cross-white.png').pop-up-accessories-cross__img
