include ../ui/btn
include ../ui/input-elem

//.pop-up-vacancies-form-put-fail_none
mixin popUpVacanciesForm
  form(type=`POST`).pop-up-vacancies-form
    .pop-up-vacancies-form__input
      +inputElem('type', 'Введите ваше имя', 'input_name')
    .pop-up-vacancies-form__input
      +inputElem('type', 'Введите ваш телефон', 'input_phone')
    .pop-up-vacancies-form-put-fail.pop-up-vacancies-form-put-fail_none
      p.pop-up-vacancies-form-put-fail__headline Прикрепленый файл
      .pop-up-vacancies-form-put-fail-icons
        .pop-up-vacancies-form-put-fail-icons-elems
        img(src='../../images/ui/dell.png').pop-up-vacancies-form-put-fail-icons__dell
    .pop-up-vacancies-form-fail
      .pop-up-vacancies-form-fail__btn
        label
          p.pop-up-vacancies-form__wrap-btn Прикрепить

          .pop-up-vacancies-form-fail-texts
            p.pop-up-vacancies-form-fail-texts__headline Прикрепите файл  с резюме
            p.pop-up-vacancies-form-fail-texts__text Файл с резюме в формате: doc, docx, rtf, pdf
          input(type='file', accept='.doc, .docx, .rtf, .pdf', multiple, id='input_file')
    .pop-up-vacancies-form__btn
      +btn('Отправить', 'btn_red')
    p.pop-up-vacancies-form__description Пожалуйста, заполните все поля - так нам будет легче связаться с вами Нажимая на кнопку «Отправить», я даю согласие на обработку персональных данных

