mixin popUpAccessories(headImg, headline)
  div(style=`background: url("../../images/back-black.png") repeat center center;`).wrap-pop-up-accessories black fon
    .pop-up-accessories white fon
      .pop-up-accessories-head
        img(src=`../../images/${headImg}`).pop-up-accessories-head__img
        h2.pop-up-accessories-head__headline= headline
    //.accessories-wrap-cross

