include ./social
include ./main-menu-burger
include ./btn
include ./input-elem


mixin popUpMenuHeader(menu)
  div(style=`background: url("../../images/ui/back-black.png") repeat center center;`).wrap-pop-up-menu-header
    .wrap-pop-up-menu-header__arrow
      <svg width="25" height="25" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M20.939 25.8008L2.0305 44.7093C0.909088 45.8307 0.909086 47.6489 2.0305 48.7703C3.15192 49.8917 4.97009 49.8917 6.09151 48.7703L25 29.8618L43.9085 48.7703C45.0299 49.8917 46.8481 49.8917 47.9695 48.7703C49.0909 47.6489 49.0909 45.8307 47.9695 44.7093L29.061 25.8008L47.9695 6.89229C49.0909 5.77088 49.0909 3.9527 47.9695 2.83128C46.8481 1.70987 45.0299 1.70987 43.9085 2.83128L25 21.7398L6.09151 2.83129C4.97009 1.70987 3.15192 1.70987 2.0305 2.83128C0.909087 3.9527 0.909087 5.77087 2.0305 6.89229L20.939 25.8008Z" fill="white"/>
      </svg>
    .pop-up-menu-header
      .wrap-burger-logo
        a(href='/')
          img(src='../../images/ui/logo.png').wrap-burger-logo__img
        p.wrap-burger-logo__text крупнейший мировой дистрибьютер подшипниковой продукции
      .menu-burger-wrap-search
        +inputElem('text', 'поиск')
        img(src='../../images/ui/search.png').menu-burger-wrap-search__search
      .wrap-menu-burger
        +mainMenuBurger(menu)
      hr.pop-up-menu-header__line
      .menu-burger-wrap-phone
        p.menu-burger-wrap-phone__email zakaz@impservice.ru
        p.menu-burger-wrap-phone__phone +7 (342) 225-00-88
        div(id='phone-image').menu-burger-wrap-phone__call
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="20" cy="20" r="19" stroke="#1F1111" stroke-width="2"/>
            <path d="M30.1324 16.5817L24.0506 16.5817M24.0506 16.5817V10.5M24.0506 16.5817L30.1323 10.5002M30.6318 26.5978V29.8231C30.633 30.1225 30.5717 30.4189 30.4517 30.6932C30.3318 30.9676 30.1558 31.2139 29.9352 31.4163C29.7146 31.6187 29.4541 31.7728 29.1705 31.8687C28.8868 31.9646 28.5863 32.0003 28.2881 31.9733C24.9798 31.6138 21.802 30.4834 19.0099 28.6728C16.4123 27.0221 14.2099 24.8198 12.5593 22.2221C10.7423 19.4174 9.61162 16.2241 9.25873 12.901C9.23186 12.6037 9.26719 12.304 9.36247 12.0211C9.45776 11.7382 9.6109 11.4783 9.81215 11.2578C10.0134 11.0373 10.2584 10.8612 10.5314 10.7406C10.8045 10.62 11.0997 10.5575 11.3982 10.5573H14.6235C15.1452 10.5521 15.6511 10.7369 16.0467 11.0771C16.4423 11.4173 16.7007 11.8898 16.7737 12.4064C16.9098 13.4386 17.1623 14.4521 17.5263 15.4275C17.6709 15.8123 17.7022 16.2305 17.6165 16.6325C17.5307 17.0346 17.3315 17.4036 17.0425 17.6959L15.6771 19.0613C17.2076 21.7529 19.4361 23.9815 22.1277 25.5119L23.4931 24.1466C23.7854 23.8575 24.1545 23.6583 24.5565 23.5726C24.9586 23.4868 25.3768 23.5181 25.7616 23.6628C26.737 24.0267 27.7504 24.2792 28.7826 24.4153C29.3049 24.489 29.7818 24.7521 30.1228 25.1545C30.4637 25.5569 30.6449 26.0705 30.6318 26.5978Z" stroke="#1F1111" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
      .menu-burger-wrap-btn
        +btn('Заказать звонок', 'btn_white', '/')
      .menu-burger-wrap-social
        +social
