mixin provide(img, headline, text)
  .provide
    img(src=`../../images/${img}`).provide__img
    .provide-wrap-text
      h3.provide-wrap-text__hedline= headline
      p.provide-wrap-text__text= text
