mixin quote(headline, signature)
  .quote
    img(src='../../images/ui/quotes.png').quote__img
    .quote-texts
      p.quote-texts__headline= headline
      .quote-texts__line
      .quote-texts__signature= signature
