mixin serviceContentCard(img = null, back, headline)
  if img
    .service-content-card(style=`background-image: url('../../images/service/${img}'); background-repeat: no-repeat;`)
      h3.service-content-card__headline= headline
  else
    .service-content-card(style=`background: var(--${back});`)
      h3.service-content-card__headline= headline
