mixin tables(headline, elem)
  .tables
    h3.tables__headline Пример Заголовка 3
    table.tables-table
      each el in elem
        tr.tables-table-column
          td.tables-table-column__headline= el.headline
          each e in el.rows
            td.tables-table-column__row!= e
          else
            td.tables-table-column__row!= el.rows
    .tables__line



      //.tables
      //  h3.tables__headline Пример Заголовка 3
      //  table.tables-table
      //    each el in elem
      //      tr.tables-table-column
      //        td.tables-table-column__headline= el.headline
      //        each e in el.rows
      //          td.tables-table-column__row
      //            p!= e
      //        else
      //          td.tables-table-column__row
      //            p!= el.rows
      //  .tables__line
