.search-content {
  padding: 60px 0 115px;
  &__headline {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: var(--black);
    margin: 0 0 40px;
  }
}

.search-content-wrap-search {
  position: relative;
  margin-bottom: 30px;
  &__glass {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 30px;
  }
}

.search-content-wrap-pagination {
  display: flex;
  max-width: 882px;
  justify-content: space-between;
  margin-left: auto;
  align-items: center;
  margin-top: 20px;
  box-sizing: border-box;
}

.search-content-wrap-btn {
  width: 247.37px;
  //margin: 0 auto;
}


@media (max-width: 550px) {
  .search-content {
    padding: 30px 0 84px;

    &__headline {
      font-size: 28px;
      line-height: 33px;
      margin: 0 0 20px;
    }
  }
  .search-content-wrap-pagination {
    flex-direction: column;
    justify-content: space-between;
  }

  .search-content-wrap-search {
    position: relative;
    margin-bottom: 10px;
  }

  .search-content-wrap-btn {
    margin-bottom: 30px;
  }
}
