.service-detail-slider {
  //max-width: 100%;
  //max-width: 1131px;
  width: 100%;
  overflow: hidden;
  .slider {
    //overflow: hidden;
    max-width: 1131px;
    position: relative;
   // max-width: 1131px;
    .swiper-wrapper {
      .swiper-slide {
        //max-width: 1131px;
        //max-width: 800px;
        width: 100%;
        height: 652px;
        &__image {
          width: 100%;
          //max-width: 1131px;
          //width: auto; //100%
        }
      }
    }
  }
}

.service-detail-navigation {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  z-index: 3;
  height: 100px;
  //background: var(--black);
  //opacity: 0.5;
}

.service-detail-navigation-pagination {
  display: flex;
  &__elem {
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}

@media (max-width: 1620px) {
  .service-detail-slider {
    max-width: 1040px;
    .slider {
      .swiper-wrapper {
        .swiper-slide {
          max-width: 1040px;
          height: 600px;

          &__image {
            height: 100%; //652px
          }
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .service-detail-slider {
    max-width: 762px;
    .slider {
      .swiper-wrapper {
        .swiper-slide {
          max-width: 762px;
          height: 438px;

          &__image {
            height: 100%; //652px
          }
        }
      }
    }
  }

  .service-detail-navigation {
    height: 70px;
    .arrow {
      height: 70px;
      width: 70px;
      svg {
        width: 17.35px;
        height: 35.12px;
      }
    }
  }

  .service-detail-navigation-pagination {
    &__elem {
      width: 65.05px;
      height: 60px;

      img {
        width: 65.05px;
        height: 70px;
      }
    }
  }
}

@media (max-width: 1040px) {
  //width: 891px;
  //height: 512px;
  .service-detail-slider {
    max-width: 891px;
    .slider {
      .swiper-wrapper {
        .swiper-slide {
          max-width: 891px;
          height: 512px;

          &__image {
            height: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .service-detail-slider {
    max-width: 726px;
    .slider {
      .swiper-wrapper {
        .swiper-slide {
          max-width: 726px;

          &__image {
            //object-fit: contain;
            height: 100%; //652px
          }
        }
      }
    }
  }

  //.service-detail-navigation {
  //  height: 80px;
  //  .arrow {
  //    height: 80px;
  //    width: 80px;
  //    svg {
  //      width: 17.35px;
  //      height: 35.12px;
  //    }
  //  }
  //}
  //
  //.service-detail-navigation-pagination {
  //  &__elem {
  //    width: 76.05px;
  //    height: 80px;
  //
  //    img {
  //      width: 76.05px;
  //      height: 80px;
  //    }
  //  }
  //}
}


@media (max-width: 500px) {
  .service-detail-slider {
    max-width: 320px;
    height: 320px;
    .slider {
      .swiper-wrapper {
        .swiper-slide {
          max-width: 320px;
          height: 320px;
          &__image {
            height: 100%; //652px
          }
        }
      }
    }
  }

  .service-detail-navigation-pagination {
    display: none;
  }

  .service-detail-navigation {
    height: 50px;
    .arrow {
      height: 50px;
      width: 50px;
      svg {
        width: 10.84px;
        height: 21.95px;
      }
    }
  }
}
