.footer-top {
  display: flex;
  justify-content: space-between;
  &__left {
    max-width: 890px;
    width: 100%;
  }
  &__right {
    max-width: 460px;
  }
}

.footer-top-headline {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: var(--black);
  margin: 0 0 40px;
}

.footer-top-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
  margin: 32px 0 0 25px;
  max-width: 610px;
}


.footer-top-delivery {
  display: flex;
  align-items: center;
  margin-top: 82px;
  &__time {
    margin-right: 27px;
  }
  &__delivery {
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: var(--black);
    margin: 0;
    span {
      color: var(--red);
    }
  }
}


.footer-top-management {
  display: flex;
  margin-top: 30px;
  &__person {
    //margin-right: 12px;
    //margin-left: -7px;
    margin: 5px 12px 0 -7px;
  }
  &__management {
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: 0.031em;
    color: var(--black);
    margin: 0;
    max-width: 398px;
    font-family: 'Roboto', sans-serif;
    span {
      color: var(--red);
    }
  }
  &__time {
    margin: 3px 0 29px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 0.05em;
  }
}

.footer-top-wrap-text {

}

@media (max-width: 1620px) {
  .footer-top {
    &__right {
      max-width: 470px;
      margin-right: 20px;
    }
  }

  .footer-top-management {
    &__person {
      margin: 5px 17px 0 -7px;
    }
  }
  .footer-top-text {
    margin: 34px 0 0 25px;
  }
}
