.reference-container-pdf {
  margin-top: 75px;

  &__headline {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin: 20px 0 40px;
  }
}

.reference-container-pdf-elements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 70px;
  grid-row-gap: 15px;
}


@include lg {
  .reference-container-pdf-elements {
    grid-column-gap: 20px;
  }
}


@include tablet {
  .reference-container-pdf {
    margin-top: 70px;

    &__headline {
      margin: 15px 0 42px;
    }
  }

  .reference-container-pdf-elements {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 35px;
  }
}

@include sm {
  .reference-container-pdf {
    margin-top: 40px;

    &__headline {
      margin: 15px 0 30px;
    }
  }

  .reference-container-pdf-elements {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
