.reference-container-checkbox {
  display: flex;
  flex-wrap: wrap;

  &__elem {
    margin: 0 15px 17px 0;
  }

  &__reset {
    margin: 0 0 0 4px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 200%;
    color: #BDBDBD
  }
}

@include lg {
  .reference-container-checkbox {

    &__reset {
      margin: 0 0 0 4px;
    }
  }
}


@include md {
  .reference-container-checkbox {
    &__reset {
      margin: 0 0 0 4px;
    }
  }
}


@include sm {
  .reference-container-checkbox {
    &__elem {
      margin-right: 5px;
      margin-bottom: 10px;
      &:first-child {
        margin-bottom: inherit;
      }
      &:nth-child(8) {
        margin-bottom: inherit;
      }
    }
  }
}
