include ./service-content-cards
include ../ui/sidebar-manager
include ./service-provided
include ./service-container-double
include ./service-logistic

mixin serviceContent(sidebar)
  div(class=`${sidebar}`).service-content
    .service-content-left
      .service-content-left__headline Для высококачественного решения вопросов надежности и оптимизации стоимости владения роторного оборудования на базе компании Импортсервис была создана техническая служба со специализированными отделами по следующим отраслям:
      +serviceContentCards([
        {img: 'service-content-card-1.png', headline: 'Металлургия'},
        {img: 'service-content-card-2.png', headline: 'Целлюлозно-бумажная промышленность'},
        {back: 'grey-light', headline: 'Горнодобывающая промышленность'},
        {img: 'service-content-card-4.png', headline: 'Энергетическая промышленность'},
        {img: 'service-content-card-5.png', headline: 'Сельско-хозяйственная промышленность'},
        {back: 'service-grey', headline: 'Машиностроение'},
        {img: 'service-content-card-7.png', headline: 'Химическая и нефтехимическая промышленность'},
        {back: 'red', headline: 'Цементная промышленность'}
      ])
      +serviceProvided
      +serviceContainerDouble
      +serviceLogistic
    .service-content-right
      +sidebarManager('ваш персональный менеджер', 'Павел Бычков', 'Начальник отдела поддержки клиентов', '+7 (342) 256 59 24', 'Пн-Пт: с 9.00 до 18.00', true)

