include ../ui/pages-pagination

mixin serviceHeaderInfo
  .container__2920
    .service-header-info
      +pagesPagination([{href:'/', text:'Сервис и услуги'}])
      h2.service-header-info__headline Группа компаний УралПодшипникПермь и Импортсервис — крупнейший поставщик подшипниковой продукции
      .service-header-info__wrap-btn
        +btn('Смотреть видео', 'btn_red', href)
