include ./reference-container-checkbox

mixin referenceContent
  .reference-content
    .reference-content-left
      +referenceContainerCheckbox([
        {id: 'pnh1', text: 'SKF'},
        {id: 'pnh2', text: 'FAG'},
        {id: 'pnh3', text: 'CRAFT Bearings'},
        {id: 'pnh4', text: 'NSK'},
        {id: 'pnh5', text: 'NTN SNR EUROPE'},
        {id: 'pnh6', text: 'LUK'},
        {id: 'pnh7', text: 'INA'},
        {id: 'pnh8', text: 'PEER'},
        {id: 'pnh9', text: 'LOCTITE'},
        {id: 'pnh10', text: 'VBF'},
        {id: 'pnh11', text: 'АПЗ-20 (UBP)'},
        {id: 'pnh12', text: 'TIMKEN'}
      ])
    .reference-content-right
