
include ../../ui/arrow
include ../../ui/partners-elem

mixin partnersGroup(headline, elems)
  .container__2920
    .partners-group
      h2.partners-group__headline= headline
      .partners-group__wrap-elem
        .wrap-elem-partners
          each el in elems
            +partnersElem(el.headline, el.img, el.href)
        .partners-slider
          .swiper-wrapper
            each el in elems
              .swiper-slide
                +partnersElem(el.headline, el.img, el.href)
          .wrap-partners-control
            .partners-control
              .partners-control__prev
                +arrow('arrow_gej')
              .partners-control__next
                +arrow('arrow_red arrow_right')
