include ../ui/arrow
include ./header-info

mixin headerSlider()
  //div(class=`container-slider ${typeSlider}`)
  .header-slider
    .swiper-wrapper
      .swiper-slide
        img(src='../../images/header-slide-1.png').swiper-slide__image
      .swiper-slide
        img(src='../../images/header-slide-1.png').swiper-slide__image
    .wrap-header-info
      .container__2920
        +headerInfo()
    .wrap-control-header-slider
      .control-header-slider
        .control-header-slider-prev
          +arrow('arrow_white')
        .control-header-slider-next
          +arrow('arrow_red arrow_right')
