include ../products-detail/products-detail-header-info

mixin headerProductsDetail(elem, pagination, headline)
  header.header-products-detail
    .header__burger
      +popUpMenuHeader(menu)
    .header__wrap-menu
      .container__2920
        +mainMenu(menu, 'main-menu_parthers')
    .header-service-slider
      .swiper-wrapper
        each el in elem
          .swiper-slide
            img(src=`../../images/${el}`).swiper-slide__img
      //+serviceHeaderInfo()
      .wrap-service-control
        .service-pagination

        .service-control
          .service-control_prev
            +arrow('arrow_white')
          .service-control_next
            +arrow('arrow_red arrow_right')
      +productsDetailHeaderInfo(pagination, headline)


      //.swiper-slide
        img(src='../../images/header-products-detail.png').swiper-slide__img
      //.swiper-slide
        img(src='../../images/header-products-detail.png').swiper-slide__img
