.products-card {
  width: 25%;
  height: 145px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:hover {
    cursor: pointer;
    background-size: 110%;
  }

  &__headline {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 0 40px;
    color: var(--white);
  }
}


@include lg {
  .products-card {
    width: 50%;
  }
}


@include tablet {
  .products-card {
    height: 182.34px;
  }
}

@include sm {
  .products-card {
    width: 100%;
    height: 153px;
  }
}
