mixin footerBottom
  .footer-bottom
    .footer-bottom-top
      img(src='../../images/logo.png').footer-bottom-top__logo
      .footer-bottom-top__wrap-menu
      img(src='../../images/search.png').footer-bottom-top__img
    .footer-bottom-bottom
      p.footer-bottom-bottom__text © ООО «Импортсервис», 2022,
        a(href='/') Политика конфиденциальности и правила обработки данных
      .wrap-amado
        p.wrap-amado__name Создание сайта
        img(src='../../images/amado.png').wrap-amado__logo
