.error-info {
  margin-top: 255px;
  max-width: 750px;
  &__headline {
    color: var(--white);
    margin: 0;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    text-transform: uppercase;
  }
  &__text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 125%;
    /* or 31px */
    margin: 10px 0 25px;
    color: var(--white);
    letter-spacing: 0.03em;
  }
  &__wrap-btn {
    max-width: 226px;
    .btn {
      height: 45px;
      line-height: 40px;
      font-size: 15px;
    }
  }
}


@media (max-width: 600px) {
  .error-info {
    //margin-top: 55px;
    max-width: 240px;
    margin: 70px auto 0;
    padding-left: 20px;
    &__headline {
      font-size: 28px;
      line-height: 36px;
    }
    &__text {
      font-size: 18px;
    }
    &__wrap-btn {

    }
  }
}
