include ../../ui/arrow

mixin serviceDetailSlider(pagination)
  .service-detail-slider
    .slider
      .swiper-wrapper
        .swiper-slide
          img(src='../../images/service/service-detail-slider-1.png').swiper-slide__image
        .swiper-slide
          img(src='../../images/service/service-detail-slider-1.png').swiper-slide__image
      .service-detail-navigation
        .service-detail-navigation-pagination

        .service-detail-navigation__prev
          +arrow('arrow_white')
        .service-detail-navigation__next
          +arrow('arrow_red arrow_right')
