include service-detail-articles
include ../../ui/sidebar-manager
include service-detail-slider
include service-detail-services

mixin serviceDetailContent(sidebar)
  .container__2920
    div(class=`${sidebar}`).service-detail-content
      .service-detail-content-left
        h1.service-detail-content-left__headline Повышение надежности работы оборудования
        +serviceDetailArticles([
          {
            id: '1',
            headline: 'Анализ состояния оборудования основных производственных линий',
            text: ['Производится оценка работоспособности и общего состояния оборудования. По результатам выдается отчет с выявленными замечаниями и рекомендуются мероприятия по их устранению.']
          },
          {
            id: '2',
            headline: 'Анализ простоев оборудования',
            text: ['Производится оценка и классификация простоев, выделяется ТОР 5 технических причин простоев оборудования и разрабатываются мероприятия по их снижению или исключению']
          },
          {
            id: '3',
            headline: 'Анализ причин выхода из строя подшипников с выдачей рекомендаций по их устранению',
            text: ''
          },
          {
            id: '4',
            headline: 'Проведение шеф-монтажных работ по заменен подшипников с составлением отчета состояния подшипникового узла, заполнением чек листа',
            text: ''
          },
          {
            id: '5',
            headline: 'Расчет подшипниковых узлов на долговечность',
            text: ''
          },
          {
            id: '6',
            headline: 'Разработка модернизационных решений направленных на повышение работоспособности подшипников',
            text: ''
          },
          {
            id: '7',
            headline: 'Подбор, поставка и монтаж под ключ систем',
            text: ['контроля параметров состояния оборудования при периодических обходах (приборы для вибро и термоконтроля);', 'стационарного периодического контроля вибро и термопараметров состояния оборудования по установленному расписанию, охватывающих недоступные или небезопасные для оценки состояния узлы;', 'стационарной онлайн-вибродиагностики критичного оборудования.']
          }
        ])
        .service-detail-content-left__wrap-slider
          +serviceDetailSlider(['service-detail-pag-6.png', 'service-detail-pag-5.png', 'service-detail-pag-4.png', 'service-detail-pag-3.png', 'service-detail-pag-2.png', 'service-detail-pag-1.png'])
        .service-detail-content-left__wrap-service
          +serviceDetailServices()
      .service-detail-content-right
        +sidebarManager('ваш персональный менеджер', 'Павел Бычков', 'Начальник отдела поддержки клиентов', '+7 (342) 256 59 24', 'Пн-Пт: с 9.00 до 18.00')
