.contacts {
  &__wrap-footer {
    margin: 20px auto 0;
    max-width: 1170px;
    padding: 0 350px 90px 20px;
  }
}
.contacts-header-info {
  z-index: 3;
}

@include lg {
  .contacts {
    &__wrap-footer {
      padding: 0 50px 90px 20px;
    }
  }
}

@include tablet {
  .contacts {
    &__wrap-footer {
      padding: 50px 20px 90px 20px;
      margin: 0 auto 0;
    }
  }
}

@include sm {
  .contacts {
    &__wrap-footer {
      padding: 60px 20px 65px 20px;
      .footer-bottom {
        padding: 120px 0 0;
      }
    }
  }
}
