.main-page {
  position: relative;
  &__block {
    display: flex;
    z-index: -1;
    margin-top: -100px;
  }
}

.main-container-bearing {
  z-index: 2;
  background: var(--bej);
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

@include lg {
  .main-page {
    &__block {
      margin-top: -70px;
      height: 530px;
    }
  }
}

@include md {
  .main-page {
    &__block {
      flex-wrap: wrap;
      height: 100%;
    }
  }
}

@include tablet {
  .main-page {
    &__block {
      margin-top: -50px;
      height: auto;
    }
  }
}
