.partners {
  &__wrap-partners-groups {
    padding-bottom: 125px;
  }
}

@include tablet {
  .partners {
    &__wrap-partners-groups {
      padding-bottom: 168px;
    }
  }
}

@include xs {
  .partners {
    &__wrap-partners-groups {
      padding-bottom: 128px;
    }
  }
}
