.vacancies {
  &__wrap-sidebar {
    display: none;

  }
}

@include md {
  .vacancies {
    &__wrap-sidebar {
      display: flex;
      margin-bottom: 67px;
    }
  }
}

@include sm {
  .vacancies {
    &__wrap-sidebar {
      display: flex;

      margin-bottom: 24px;

      .container__2920 {
        padding: 0;
      }

    }
  }
}
