.footer-top {
  display: flex;
  justify-content: space-between;
  &__left {
    max-width: 890px;
    width: 100%;
    padding-right: 20px;
  }
  &__right {
    max-width: 460px;
  }
}

.footer-top-headline {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: var(--black);
  margin: 0 0 40px;
}

.footer-top-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
  margin: 32px 0 0 25px;
  max-width: 610px;
}


.footer-top-delivery {
  display: flex;
  align-items: center;
  margin-top: 82px;
  &__time {
    margin-right: 27px;
  }
  &__delivery {
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: var(--black);
    margin: 0;
    span {
      color: var(--red);
    }
  }
}

.footer-top-management {
  display: flex;
  margin-top: 30px;
  &__person {
    margin: 5px 12px 0 -7px;
  }
  &__management {
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: 0.031em;
    color: var(--black);
    margin: 0;
    max-width: 398px;
    font-family: 'Roboto', sans-serif;
    span {
      color: var(--red);
    }
  }
  &__time {
    margin: 3px 0 29px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 0.05em;
  }
}

.footer-top-form {
  &__input {
    margin-bottom: 30px;
  }
}


@media (max-width: 1620px) {
  .footer-top {
    &__right {
      max-width: 470px;
      margin-right: 20px;
    }
  }

  .footer-top-management {
    &__person {
      margin: 5px 17px 0 -7px;
    }
  }
  .footer-top-text {
    margin: 34px 0 0 25px;
  }
}

@media (max-width: 1300px) {
  .footer-top-headline {
    font-size: 32px;
    line-height: 38px;
    margin: 0 0 20px;
  }

  .footer-top {
    &__left {
      max-width: 769px;
      padding-right: 80px;
    }
    &__right {
      margin-right: 0;
    }
  }

  .footer-top-text {
    margin: 20px 0 0 20px;
  }

  .footer-top-delivery {
    margin-top: 68px;
    &__time {
      width: 39.17px;
      height: 40px;
      margin-right: 20px;
    }
    &__delivery {
      font-size: 20px;
    }
  }

  .footer-top-management {
    margin-top: 55px;
    &__person {
      margin-right: 5px;
      svg {
        width: 48px;
        height: 40px;
      }
    }
    &__management {
      font-size: 20px;
      max-width: 265px;
      line-height: 120%;
    }
    &__time {
      margin-bottom: 22px;
      font-size: 16px;
    }
  }

  .footer-top-form {
    &__input {
      margin-bottom: 20px;
    }

    .btn {
      height: 55px;
      line-height: 55px;
    }
  }
}


@media (max-width: 1040px) {
  .footer-top {
    &__left {
      max-width: 603px;
      padding-right: 60px;
    }
  }

  .footer-top-delivery {
    margin-top: 55px;
    &__time {
      margin-right: 10px;
    }
    &__delivery {
      font-size: 16px;
    }
  }

  .footer-top-management {
    margin-top: 30px;
    &__person {
      margin-right: 10px;
      svg {
        width: 48px;
        height: 40px;
      }
    }
    &__management {
      font-size: 16px;
      max-width: 265px;
      line-height: 135%;
    }
    &__time {
      margin-bottom: 28px;
      font-size: 16px;
    }
  }
}

@media (max-width: 800px) {
  .footer-top {
    flex-wrap: wrap;
    &__left {
      max-width: 100%;
      padding-right: 0;
    }
    &__right {
      display: flex;
      justify-content: space-between;
      max-width: 100%;
      width: 100%;
      align-items: start;
      margin-top: 56px;
    }
  }

  .footer-wrap-text-social {
    display: flex;
    align-items: start;
  }

  .footer-top-text {
    margin: 20px 0 0 0;
    font-size: 12px;
    line-height: 14px;
  }

  .footer-top-wrap-text {
    margin-right: 50px;
  }

  .footer-top-delivery {
    margin-top: 0; //55px
    &__time {
      margin-bottom: 20px;
    }
    &__delivery {
      max-width: 100px;
    }
  }

  .footer-top-management {
    margin-top: 0;
  }
}

@media (max-width: 680px) {
  .footer-top {
    //flex-wrap: wrap;

    &__right {
      flex-wrap: wrap;
      margin-top: 83px;
    }
  }

  .footer-top-delivery {
    width: 100%;
    margin-bottom: 23px;
    &__delivery {
      max-width: 100%;
    }
    &__time {
      margin-bottom: 0;
    }
  }

  .footer-top-management {
    &__time {
      margin-bottom: 5px;
    }
    &__person {
      margin: 0;
    }
    &__management {
      width: 100%;
    }
  }

  .footer-wrap-text-social {
    flex-wrap: wrap;
    margin-left: 10px;
  }
}
