.partners-trust {
  display: flex;
  align-items: center;
  padding: 60px 0 0 0; //padding: 60px 24px 0 30px;
  justify-content: space-between;
  &__headline {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin: 0;
    color: var(--black);
  }
  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: var(--black);
    margin: 20px 0 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.005em;
  }
  &__img {
    margin: 20px 148.39px 0 0;
    //margin-top: 20px;
    //margin-right: 148.39px;
  }
}
.partners-trust-wrap-text {
  max-width: 1000px;
  &__img {
    display: none;
  }
}


@media (max-width: 1300px) {
  .partners-trust {
    &__img {
      margin: 20px 0 0 0;
    }
  }
}

@media (max-width: 800px) {
  .partners-trust {
    padding: 27px 0 0 0;
    margin-bottom: -10px;

    &__headline {
      font-size: 32px;
    }
  }
}

@media (max-width: 500px) {
  .partners-trust {
    padding: 30px 0 0 0;
    &__headline {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 15px;
    }
    &__img {
      display: none;
    }
    &__text {
      font-size: 18px;
      line-height: 120%;
      /* or 22px */

      letter-spacing: 0.02em;
    }
  }

  .partners-trust-wrap-text {
    &__img {
      display: inline-block;
    }
  }
}

@media (max-width: 400px) {
  .partners-trust {
    margin-bottom: 0;
  }
}
//.partners-trust-wrap-img { 32px
//  width: 100%;
//  display: flex;
//  justify-content: start;
//  max-width: 263px;
//}
