.contacts-container {
  display: flex;
  padding: 55px 0 70px;
  &__wrap-contacts {
    display: none;
  }

  &__wrap-manager {
    display: none; //.specialists {display: none;}
  }
}

@media (max-width: 1100px) {
  .contacts-container {
    flex-direction: column;
    //flex-wrap: wrap;
  }
}

@media (max-width: 800px) {
  .contacts-container {
    padding: 75px 0 70px;
    &__wrap-contacts {
      display: block;
    }

    &__wrap-manager {
      display: block;
      .specialists {
        display: none;
      }
    }

    &__wrap-manager {
      padding-top: 45px;
    }

    &__wrap-contacts-form {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .contacts-container {
    padding: 65px 0 70px;

    &__wrap-manager {
      padding-top: 40px;
    }
  }
}
