include ../../ui/company-possibility

mixin companyPossibilitys
  .company-possibilitys
    h2.company-possibilitys__headline Ваши возможности при работе с Импортсервис
    .company-possibilitys-container
      +companyPossibility(
        'company-possibility_white',
        'company-possibility-1.png',
        'Умная логистика',
        ['Благодаря использованию современных технологий управления мы гарантируем:'],
        ['доставку в течение 24 часов в пределах 300 км от склада',
        'быструю отправку заказа: при заказе до 13:00 сегодня, заказ уезжает к вам уже завтра'])

      +companyPossibility(
        'company-possibility_grey',
        'company-possibility-2.png',
        'Технический сервис 24/7',
        ['В 2020 году нами создан собственный высокотехнологичный обучающийцентр для техслужб предприятий-заказчиков.',
        'Мы осуществляем полное обслуживание и профессиональный инжиниринг'],
        '')

      +companyPossibility(
        'company-possibility_grey',
        'company-possibility-3.png',
        'Консигнационный склад',
        ['Позволит вам работать без простоя и в течение 1 дня получать необходимые комплектующие.',
        'Склад открывается на территории вашего предприятия необходимым вам ассортиментом подшипниковой продукции, которую вы оплатите',
        'Позволит вам работать без простоя и в течение 1 дня получать необходимые комплектующие.'],
        '')

      +companyPossibility(
        'company-possibility_red',
        'company-possibility-4.png',
        'WMS',
        ['Система управления складом класса В на 3300 м2'],
        ['максимально быстрая сборка заказа;',
        'обеспечение низких цен за счет снижения себестоимости продукции;',
        'входящий контроль качества, комплексный АВС/XYZ/DEF анализ;',
        'входящий контроль качества, комплексный АВС/XYZ/DEF анализ;'])
                    //type, img, headline, texts, lists


