mixin companySliderInfo(headline, texts, bold)
  .company-slider-info
    h2.company-slider-info__headline= headline
    .company-slider-info-texts
      each el in texts
        p.company-slider-info-texts__text= el
      if bold !== null
        h3.company-slider-info-texts__bold= bold
