.company-possibilitys {
  &__headline {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: var(--black);
    max-width: 660px;
  }
}

.company-possibilitys-container {
  padding: 130px 0 0;
  display: flex;
  justify-content: space-between;
}


@include lg {
  .company-possibilitys-container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@include tablet {
  .company-possibilitys-container {
    justify-content: space-between;
  }

  .company-possibilitys {
    &__headline {
      font-size: 32px;
      line-height: 38px;
      max-width: 530px;
    }
  }
}

@media (max-width: 680px) {
  .company-possibilitys-container {
    justify-content: center;
  }
}

@include sm{
  .company-possibilitys {
    &__headline {
      font-size: 24px;
      line-height: 28px;
      max-width: 280px;
    }
  }

  .company-possibilitys-container {
    padding: 105px 0 0;
  }
}
