include ../../ui/article

mixin newsDetailArticle
  .news-detail-article
    h2.news-detail-article__headline Пример заголовка 2
    h4.news-detail-article__sub-headline Подзаголовок (h4)
    p.news-detail-article__text.news-detail-article__text_top Если Вы заинтересованы в перспективной работе, которая позволит раскрыть Ваши навыки и потенциал, пожалуйста, пришлите нам своё подробное резюме. Наши двери открыты для специалистов любого уровня, а также для молодых и целеустремленных людей, желающих пройти обучение по рабочим специальностям, с последующим трудоустройством в компании. Каждое резюме будет внимательно рассмотрено. В случае заинтересованности Вашей кандидатурой, с Вами свяжется представитель компании.
    p.news-detail-article__text Если Вы заинтересованы в перспективной работе, которая позволит раскрыть Ваши навыки и потенциал, пожалуйста, пришлите нам своё подробное резюме. Наши двери открыты для специалистов любого уровня, а также для молодых и целеустремленных людей, желающих пройти обучение по рабочим специальностям, с последующим трудоустройством в компании. Каждое резюме будет внимательно рассмотрено. В случае заинтересованности Вашей кандидатурой, с Вами свяжется представитель компании.
    .news-detail-article-listing
      img(src=`../../images/news/news-detail-article.png`).news-detail-article-listing__img
      .news-detail-article-listing-lists
        .news-detail-article-listing-lists__list
          +article('Маркированный список', ['максимально быстрая сборка заказа;',
            'обеспечение низких цен за счет снижения себестоимости продукции;',
            'входящий контроль качества, комплексный АВС/XYZ/DEF анализ;'])
        .news-detail-article-listing-lists__list
          +article('Нумерованный список', ['максимально быстрая сборка заказа;',
            'обеспечение низких цен за счет снижения себестоимости продукции;',
            'входящий контроль качества, комплексный АВС/XYZ/DEF анализ;'])
