include ../../ui/provide

mixin serviceProvided
  .service-provided
    h2.service-provided__headline Предоставляемые услуги
    .service-provided__elements
      +provide('provide-1.png', 'Доставка за 24 часа', 'Доставки от пермского и новосибирского склада за 24 часа (300 км)')
      +provide('provide-2.png', 'Консигнационные склады', 'Возможность открытия консигнационного склада на вашем предприятии')
