.partners-group {
  padding-top: 121px;
  &__headline {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    margin: 0 0 20px;
  }
  &__wrap-elem {

    .wrap-elem-partners {
      display: flex;
      flex-wrap: wrap;

    }
  }
}

.partners-slider {
  display: none;
  position: relative;
}

@include xl {
  .partners-group {
    &__wrap-elem {
      .wrap-elem-partners {
        justify-content: space-around;
      }
    }
  }
}

@include tablet {
  .partners-group {
    margin: 0 -15px 0 -6px;
    padding-top: 62px;
  }
}

@media (max-width: 765px) {
  .partners-group {
    &__wrap-elem {
      .wrap-elem-partners {
        display: none;
      }
    }
  }
  .partners-slider {
    display: flex;

    .swiper-wrapper {
      .swiper-slide {
        display: flex;
        justify-content: center;
      }
    }
  }

  .wrap-partners-control {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: 4px solid var(--red);
    z-index: 2;
  }
  .partners-control {
    display: flex;
    width: 360px;
    justify-content: end;
  }
  .partners-slider {
    margin: 0 -10px 0 -17px;
  }
}


@include xs {
  .partners-group {
    padding-top: 50px;
    &__headline {
      font-size: 28px;
      line-height: 33px;
      margin-bottom: 13px;
      word-wrap: break-word;
    }
  }

  .partners-control {
    margin-right: 20px;
  }
}
