.partners-trust {
  display: flex;
  align-items: center;
  padding: 60px 0 0 0;
  justify-content: space-between;
  &__headline {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin: 0;
    color: var(--black);
  }
  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: var(--black);
    margin: 20px 0 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.005em;
  }
  &__img {
    margin: 20px 148.39px 0 0;
  }
}
.partners-trust-wrap-text {
  max-width: 1000px;
  &__img {
    display: none;
  }
}


@include lg {
  .partners-trust {
    &__img {
      margin: 20px 0 0 0;
    }
  }
}

@include tablet {
  .partners-trust {
    padding: 27px 0 0 0;
    margin-bottom: -10px;

    &__headline {
      font-size: 32px;
    }
  }
}

@include sm {
  .partners-trust {
    padding: 30px 0 0 0;
    &__headline {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 15px;
    }
    &__img {
      display: none;
    }
    &__text {
      font-size: 18px;
      line-height: 120%;
      letter-spacing: 0.02em;
    }
  }

  .partners-trust-wrap-text {
    &__img {
      display: inline-block;
    }
  }
}

@include xs {
  .partners-trust {
    margin-bottom: 0;
  }
}
