.service-provided {
  padding: 83px 0 0 0;
  &__headline {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin: 0 0 58px;
  }
  &__elements {
    display: flex;
    justify-content: space-between;
    max-width: 1185px;
  }
}

.sidebar {
  .service-provided {
    &__elements {
      max-width: 1015px;
    }
  }
}


@include xl {
  .service-provided {
    padding: 70px 0 0 0;
    &__elements {
      max-width: 985px;
    }
  }
  .sidebar {
    .service-provided {
      padding: 60px 0 0 0;
    }
  }
}

@include lg {
  .service-provided {
    padding: 90px 0 0 0;
    &__headline {
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
      margin: 0 0 47px;
    }
  }

  .sidebar {
    .service-provided {
      padding: 70px 0 0 0;
    }
  }
}


@include md {
  .service-provided {
    padding: 40px 0 0 0;

    &__elements {
      max-width: 1085px;
    }
  }

  .sidebar {
    .service-provided {
      padding: 45px 0 0 0;
    }
  }
}


@include tablet {
  .service-provided {
    padding: 75px 0 0 0;

    &__headline {
      margin: 0 0 60px;
    }
  }

  .sidebar {
    .service-provided {
      padding: 75px 0 0 0;

      &__headline {
        margin: 0 0 60px;
      }
    }
  }
}


@include sm {
  .service-provided {
    padding: 60px 0 0 0;
    &__headline {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 30px;
    }
    &__elements {
      flex-wrap: wrap;
    }
  }

  .sidebar {
    .service-provided {
      padding: 60px 0 0 0;
      &__headline {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 30px;
      }
      &__elements {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        min-height: 440px;
      }
    }
  }
}
