.service-double {
  display: grid;
  grid-template-columns: 1.12fr 0.98fr;
  height: 510px;

  &.service-double-reverse {
    grid-template-columns: 0.98fr 1.12fr;
    .service-double-text {
      order: 1;
      padding-left: 134px;
    }
  }
  &.service-double-red {
    .service-double-text {
      background: var(--red);

      &__headline {
        color: var(--white);
      }
    }

    .service-double-wrap-buttons {
      &__href {
        color: var(--white);
      }
    }
  }

  &.service-double-grey {
    .service-double-text {
      background: var(--grey-light);

      &__headline {
        color: var(--white);
      }
    }

    .service-double-wrap-buttons {
      &__href {
        color: var(--white);
      }
    }
  }
}



.service-double-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 111px;
  background: var(--service);
  &__headline {
    max-width: 350px;
    margin: 0 0 40px;
  }
}

.service-double-wrap-buttons {
  display: flex;
  align-items: center;
  &__btn {
    max-width: 209px;
    width: 100%;
    margin-right: 22.5px;
    .btn {
      height: 48px;
      font-size: 16px;
    }
  }
  &__href {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: var(--red);

    &:hover {
      opacity: 0.8;
    }
  }
}

.service-double-image {
  background-size: cover;
}


.sidebar {
  .service-double {
    height: 420px;

    &.service-double-reverse {
      .service-double-text {
        padding-left: 75px;
      }
    }
  }
  .service-double-text {
    padding-left: 50px;
  }
  .service-double-wrap-buttons {
    &__btn {
      max-width: 197.19px;
      width: 100%;
    }
  }
}

@include xl {
  .service-double {
    height: 480px;
    &.service-double-reverse {
      .service-double-text {
        padding-left: 100px;
      }
      .service-double-wrap-buttons {
        &__btn {
          max-width: 191.17px;
          width: 100%;
        }
      }
    }
  }
  .service-double-text {
    padding-left: 100px;
    &__headline {
      margin: 0 0 30px;
    }
  }
  .service-double-wrap-buttons {
    &__btn {
      max-width: 197.19px;
      width: 100%;
    }
  }

  .sidebar {
    .service-double {
      grid-template-columns: 0.98fr 1.02fr;

      &.service-double-reverse {
        grid-template-columns: 1.02fr 0.98fr;
      }
    }

    .service-double-text {
      padding-left: 100px;
      &__headline {
      }
    }
  }
}


@include lg {
  .service-double {
    height: 426.32px;
    &.service-double-reverse {
      .service-double-text {
        padding-left: 75px;
      }
    }
  }
  .service-double-text {
    padding-left: 90px;
  }

  .sidebar {
    .service-double {
      height: 282.48px;

      &.service-double-reverse {
        .service-double-text {
          padding-left: 20px;
        }
      }
    }

    .service-double-text {
      padding-left: 25px;
    }
  }
}

@include md {
  .service-double {
    height: 330.8px;

    &.service-double-reverse {
      .service-double-text {
        padding-left: 55px;
      }
    }
  }
  .service-double-text {
    padding-left: 40px;
  }

  .sidebar {
    .service-double {
      height: 330.8px;
      grid-template-columns: 1.12fr 0.98fr;
      &.service-double-reverse {
        grid-template-columns:  0.98fr 1.12fr;
        .service-double-text {
          padding-left: 55px;
        }
      }
    }
    .service-double-text {
      padding-left: 40px;
    }
  }
}

@include tablet {
  .service-double {
    display: flex;
    flex-direction: column;
    height: 753px;
    &.service-double-reverse {
      padding: 0;
    }
  }

  .service-double-wrap-buttons{
    max-width: 300px;
    width: 100%;
    margin-right: 200px;
  }

  .service-double-text {
    &__headline {
      max-width: 500px;
    }
    order: 2;
    height: 303px;
    padding: 0;
    align-items: center;
  }

  .sidebar {
    .service-double {
      display: flex;
      flex-direction: column;
      height: 753px;
      &.service-double-reverse {
        padding: 0;
      }
    }

    .service-double-text {
      height: 303px;
      order: 2;
    }
  }

  .service-double-image {
    height: 450px;
  }
}

@include sm {
  .service-double {
    height: 744px;
  }

  .sidebar {
    .service-double {
      height: 744px;
      &.service-double-reverse {
        .service-double-text {
          padding: 0 30px;
        }
      }
    }

    .service-double-text {
      height: 364px;
      padding: 0 30px;
    }
  }

  .service-double-wrap-buttons{
    width: auto;
    flex-wrap: wrap;
    margin-right: 0;
    justify-content: center;
    &__btn {
      margin: 0 0 20px;
    }
  }

  .service-double-image {
    height: 380px;
  }

  .service-double-text {
    height: 364px;
  }
}
