.service-logistic {
  padding-top: 125px;

  &__headline {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin: 0 0 30px;
  }
  &__elements {
    display: flex;
    justify-content: space-between;
  }
}

.sidebar {
  .service-logistic {
    padding-top: 60px;
  }
}

@include xl {
  .service-logistic {
    padding-top: 85px;

    &__elements {
      .logistic-elem {
        &:nth-child(1) {
          max-width: 330px;
        }
        &:nth-child(4) {
          max-width: 250px;
        }
      }
    }
  }
}

@include lg {
  .service-logistic {
    padding-top: 105px;

    &__headline {
      font-size: 32px;
      line-height: 38px;
    }

    &__elements {
      .logistic-elem {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          max-width: 240px;
        }
      }
    }
  }

  .sidebar {
    .service-logistic {
      padding-top: 80px;

      &__elements {
        flex-wrap: wrap;
        .logistic-elem {
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            max-width: 330px;
          }
          &:nth-child(1) {
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}


@include md {
  .service-logistic {
    padding-top: 75px;
    &__elements {
      flex-wrap: wrap;
      .logistic-elem {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          max-width: 380px;
        }
        &:nth-child(1) {
          margin-bottom: 40px;
        }
      }
    }
  }

  .sidebar {
    .service-logistic {
      padding-top: 110px;
      &__elements {
        flex-wrap: wrap;
        .logistic-elem {
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            max-width: 380px;
          }
          &:nth-child(1) {
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}


@include tablet {
  .service-logistic {

    &__headline {
      margin-bottom: 40px;
    }
    &__elements {
      .logistic-elem {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          max-width: 350px;
        }
        &:nth-child(1) {
          margin-bottom: 50px;
        }
      }
    }
  }

  .sidebar {
    .service-logistic {
      &__elements {
        .logistic-elem {
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            max-width: 350px;
          }
          &:nth-child(1) {
            margin-bottom: 50px;
          }
        }
      }
    }
  }
}


@include sm {
  .service-logistic {
    padding-top: 60px;
    &__headline {
      font-size: 24px;
      line-height: 28px;
    }
    &__elements {
      .logistic-elem {
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          margin-bottom: 40px;
        }
        &:nth-child(1) {
          margin-bottom: 25px;
        }
      }
    }
  }

  .sidebar {
    .service-logistic {
      padding-top: 60px;
      &__headline {
        font-size: 24px;
        line-height: 28px;
      }
      &__elements {
        .logistic-elem {
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            margin-bottom: 40px;
          }
          &:nth-child(1) {
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}
