.service-container-double {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
}

.sidebar {
  .service-container-double {
    padding-top: 60px;
  }
}

@include xl {
  .service-container-double {
    padding-top: 70px;
  }
}

@include lg {
  .service-container-double {
    padding-top: 110px;
  }

  .sidebar {
    .service-container-double {
      padding-top: 115px;
    }
  }
}

@include md {
  .service-container-double {
    padding-top: 65px;
  }

  .sidebar {
    .service-container-double {
      padding-top: 40px;
    }
  }
}

@include tablet {
  .service-container-double {
    padding-top: 75px;
    margin: 0 -15px 0 -28px;
  }
  .sidebar {
    .service-container-double {
      padding-top: 75px;
    }
  }
}


@include sm {
  .service-container-double {
    padding-top: 65px;
    margin: 0 -20px 0;
  }
  .sidebar {
    .service-container-double {
      padding-top: 65px;
    }
  }
}
