include ../ui/btn

mixin contactsHeaderInfo(info)
  .container__2920
    .contacts-header-info
      +pagesPagination(info.link)
      h2.contacts-header-info__headline= info.headline
      .contacts-header-info__wrap-btn
        +btn(`${info.btn}`, 'btn_red', href)

//contacts-header-info contacts
