//include ../header/header-parthers
include ../main/main-mailing
include ../ui/pop-up-call
include ../contacts/contacts-container
include ../footer/footer-bottom
include ../header/header-service
include ../service/service-content
include ../header/header-contacts
include ../footer/footer-top
//include ../header/header-products-detail
//include ../products-detail/products-detail-container

doctype html
html(lang="en")

head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title Contacts

body.contacts
  +headerContacts('header-contacts.png', {btn: 'Открыть карту', headline: 'Наши контакты', link: [{href: '/', text: 'Контакты'}]})
  +contactsContainer
  //+headerService()
  //+headerProductsDetail()
  //+productsDetailContainer()
  //+headerParthers('reference-header.png', [{href:'/', text:'Продукция'}, {href:'/', text:'Справочная информация'}]) sidebar //('sidebar')

  +mainMailing
  .contacts__wrap-footer
    +footerTop
    +footerBottom()
  //+footer
  +popUpCall
