//include ../ui/pop-up
include ../header/header
include ../main/main-bearing-size
include ../main/main-bearing
include ../main/main-slaider
include ../main/main-mailing
include ../main/main-bearing-slider
include ../main/main-reviews
include ../main/main-news
include ../ui/pop-up-call
include ../ui/pop-up-multimedia
include ../ui/pop-up-accessories
include ../footer/footer

doctype html
html(lang="en")

head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title Main

body.main-page
  +header()
  .main-page__block
    +mainBearingSize()
    .main-container-bearing
      +mainBearing()
  //.main-wrap-slider
  +mainSlaider(['slider-1.png', 'slider-1.png'], null, ['arrow_red', 'arrow_white arrow_right'], 'main-slaider-information_right', 'main-slaider-slide-1.png', 'WMS — система управления складом на 3000 м<sup>2</sup>', 'максимально быстрая сборка <br>заказа и низкая себестоимость')
  +mainSlaider(['slider-2.png', 'slider-2.png'], 'container-slider_reverse', ['arrow_red', 'arrow_grey-light arrow_right'], 'main-slaider-information_reverse main-slaider-information_light-grey', 'main-slaider-slide-2.png', '10 консигнационных складов у крупнейших предприятий России', 'позволит вам <span>работать без простоя</span> и в течение 1 дня получать продукцию')
  +mainSlaider(['slider-3.png', 'slider-3.png'], null, ['arrow_bej', 'arrow_red arrow_right'], 'main-slaider-information_bej', 'main-slaider-slide-3.png', '24/7 — технический сервис', 'RAP-партнерство и полное обслуживание продукции на вашем предприятии')
  +mainSlaider(['slider-4.png', 'slider-4.png'], 'container-slider_reverse container-slider_third', ['arrow_red', 'arrow_grey arrow_right'], 'main-slaider-information_reverse main-slaider-information_grey', 'main-slaider-slide-4.png', 'Работайте<br> без остановки!', 'Про постобслуживание, сервис, гарантии, выезд специалистов и т.п. Обучим, поможем установить')

  +mainBearingSlider([{img: 'bearing-slide-1.png', headline: 'NTN <br>Бытовой  электроинструмент', class: 'bearing-first'}, {img: 'bearing-slide-2.png', headline: 'NSK<br> Высокоточное оборудование', class: 'bearing-second'}, {img: 'bearing-slide-3.png', headline: 'Timken<br> Промышленное оборудование', class: 'bearing-third'}, {img: 'bearing-slide-4.png', headline: 'Крупногабаритный подшипник<br> для бумажной промышленности', class: 'bearing-fourth'}])
  +mainReviews(['reviews-5.png','reviews-5.png','reviews-5.png','reviews-5.png','reviews-5.png','reviews-5.png','reviews-5.png','reviews-5.png','reviews-5.png','reviews-5.png','reviews-5.png','reviews-5.png','reviews-5.png','reviews-5.png','reviews-5.png','reviews-5.png','reviews-5.png','reviews-5.png','reviews-5.png','reviews-5.png'])
  +mainNews
  +mainMailing
  +footer
  +popUpCall
  +popUpMultimedia('pop-up-multimedia_slider', '10,09,2021', 'Известный производитель подшипников')
  +popUpAccessories('accessories-1.png', 'Подшипники и комплектующие')
//(headImg, headline)
