include ../components/header/header-parthers
include ../components/main/main-mailing
include ../ui/pop-up-call
include ../ui/pop-up-multimedia
include ../ui/main-menu
include ../components/mediateca/mediateca-content
include ../components/footer/footer


doctype html
html(lang="en")

head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title Mediateca

body.mediateca
  +headerParthers('mediateca-header.png', [{href:'/', text:'О компании'}, {href:'/', text:'Фото и видеогалерея'}])
  +mediatecaContent
  +mainMailing
  +footer
  +popUpCall
  +popUpMultimedia('pop-up-multimedia_slider', '10,09,2021', 'Известный производитель подшипников')
