include ../header/header-parthers
include ../main/main-mailing
include ../ui/pop-up-call
include ../ui/main-menu
include ../footer/footer
include ../news/news-content
include ../news/news-slider

doctype html
html(lang="en")

-
  let elemNews = [
    {
      href: '/',
      btn: 'обзор',
      headline: 'Ультразвуковой прибор повышает точность повторного смазывания',
      text: 'Уникальный ультразвуковой прибор, способный «слышать» звук пластичной смазки, заполняющей подшипник, повышает ...',
      date: '01.01.22',
      image: 'news-elem.png'
    },
    {
      href: '/',
      btn: 'обзор',
      headline: 'Ультразвуковой прибор повышает точность повторного смазывания',
      text: 'Уникальный ультразвуковой прибор, способный «слышать» звук пластичной смазки, заполняющей подшипник, повышает ...',
      date: '01.01.22',
      image: 'news-elem.png'
    },
    {
      href: '/',
      btn: 'обзор',
      headline: 'Ультразвуковой прибор повышает точность повторного смазывания',
      text: 'Уникальный ультразвуковой прибор, способный «слышать» звук пластичной смазки, заполняющей подшипник, повышает ...',
      date: '01.01.22',
      image: 'news-elem.png'
    },
    {
      href: '/',
      btn: 'обзор',
      headline: 'Ультразвуковой прибор повышает точность повторного смазывания',
      text: 'Уникальный ультразвуковой прибор, способный «слышать» звук пластичной смазки, заполняющей подшипник, повышает ...',
      date: '01.01.22',
      image: 'news-elem.png'
    },
    {
      href: '/',
      btn: 'обзор',
      headline: 'Ультразвуковой прибор повышает точность повторного смазывания',
      text: 'Уникальный ультразвуковой прибор, способный «слышать» звук пластичной смазки, заполняющей подшипник, повышает ...',
      date: '01.01.22',
      image: 'news-elem.png'
    },
    {
      href: '/',
      btn: 'обзор',
      headline: 'Ультразвуковой прибор повышает точность повторного смазывания',
      text: 'Уникальный ультразвуковой прибор, способный «слышать» звук пластичной смазки, заполняющей подшипник, повышает ...',
      date: '01.01.22',
      image: 'news-elem.png'
    },
    {
      href: '/',
      btn: 'обзор',
      headline: 'Ультразвуковой прибор повышает точность повторного смазывания',
      text: 'Уникальный ультразвуковой прибор, способный «слышать» звук пластичной смазки, заполняющей подшипник, повышает ...',
      date: '01.01.22',
      image: 'news-elem.png'
    }
  ]
  //, elemOption, elemNews Акции и предложения
  let elemCheck = [
    {id: 'ass1', text: 'Новости'},
    {id: 'ass2', text: 'Акции и предложения'},
    {id: 'ass3', text: 'Новинки'},
    {id: 'ass4', text: 'Обзоры'}
  ]

  let elemOption = [
    {name: '2022', href: '/'},
    {name: '2021', href: '/'},
    {name: '2020', href: '/'},
    {name: '2019', href: '/'}
  ]

  let elemNewsWhite = [
    {
      href: '/',
      btn: 'обзор',
      headline: 'Agri Disc Hub от NSK – надежность в экстремальных условиях...',
      text: '',
      date: '11.09.2021',
      image: 'news-white-1.png'
    },
    {
      href: '/',
      btn: 'обзор',
      headline: 'Agri Disc Hub от NSK – надежность в экстремальных условиях...',
      text: '',
      date: '11.09.2021',
      image: 'news-white-2.png'
    },
    {
      href: '/',
      btn: 'акция',
      headline: 'Скидки до 30% на остатки на складе',
      text: '',
      date: '11.09.2021',
      image: 'news-white-3.png'
    },
    {
      href: '/',
      btn: 'спецпредложение',
      headline: 'Ультразвуковой прибор повышает точность повторного смазывания',
      text: 'SKF добавила в свой ассортимент базового оборудования для мониторинга состояния три новых портативных',
      date: '11.09.2021'
    },
    {
      href: '/',
      btn: 'обзор',
      headline: 'Agri Disc Hub от NSK – надежность в экстремальных условиях...',
      text: '',
      date: '11.09.2021',
      image: 'news-white-1.png'
    },
    {
      href: '/',
      btn: 'обзор',
      headline: 'Agri Disc Hub от NSK – надежность в экстремальных условиях...',
      text: '',
      date: '11.09.2021',
      image: 'news-white-2.png'
    },
    {
      href: '/',
      btn: 'акция',
      headline: 'Скидки до 30% на остатки на складе',
      text: '',
      date: '11.09.2021',
      image: 'news-white-3.png'
    },
    {
      href: '/',
      btn: 'спецпредложение',
      headline: 'Ультразвуковой прибор повышает точность повторного смазывания',
      text: 'SKF добавила в свой ассортимент базового оборудования для мониторинга состояния три новых портативных',
      date: '11.09.2021'
    }, {
      href: '/',
      btn: 'обзор',
      headline: 'Agri Disc Hub от NSK – надежность в экстремальных условиях...',
      text: '',
      date: '11.09.2021',
      image: 'news-white-1.png'
    },
    {
      href: '/',
      btn: 'обзор',
      headline: 'Agri Disc Hub от NSK – надежность в экстремальных условиях...',
      text: '',
      date: '11.09.2021',
      image: 'news-white-2.png'
    },
    {
      href: '/',
      btn: 'акция',
      headline: 'Скидки до 30% на остатки на складе',
      text: '',
      date: '11.09.2021',
      image: 'news-white-3.png'
    },
    {
      href: '/',
      btn: 'спецпредложение',
      headline: 'Ультразвуковой прибор повышает точность повторного смазывания',
      text: 'SKF добавила в свой ассортимент базового оборудования для мониторинга состояния три новых портативных',
      date: '11.09.2021'
    },
    {
      href: '/',
      btn: 'обзор',
      headline: 'Agri Disc Hub от NSK – надежность в экстремальных условиях...',
      text: '',
      date: '11.09.2021',
      image: 'news-white-1.png'
    },
    {
      href: '/',
      btn: 'обзор',
      headline: 'Agri Disc Hub от NSK – надежность в экстремальных условиях...',
      text: '',
      date: '11.09.2021',
      image: 'news-white-2.png'
    },
    {
      href: '/',
      btn: 'акция',
      headline: 'Скидки до 30% на остатки на складе',
      text: '',
      date: '11.09.2021',
      image: 'news-white-3.png'
    },
    {
      href: '/',
      btn: 'спецпредложение',
      headline: 'Ультразвуковой прибор повышает точность повторного смазывания',
      text: 'SKF добавила в свой ассортимент базового оборудования для мониторинга состояния три новых портативных',
      date: '11.09.2021'
    }, {
      href: '/',
      btn: 'обзор',
      headline: 'Agri Disc Hub от NSK – надежность в экстремальных условиях...',
      text: '',
      date: '11.09.2021',
      image: 'news-white-1.png'
    },
    {
      href: '/',
      btn: 'обзор',
      headline: 'Agri Disc Hub от NSK – надежность в экстремальных условиях...',
      text: '',
      date: '11.09.2021',
      image: 'news-white-2.png'
    },
    {
      href: '/',
      btn: 'акция',
      headline: 'Скидки до 30% на остатки на складе',
      text: '',
      date: '11.09.2021',
      image: 'news-white-3.png'
    },
    {
      href: '/',
      btn: 'спецпредложение',
      headline: 'Ультразвуковой прибор повышает точность повторного смазывания',
      text: 'SKF добавила в свой ассортимент базового оборудования для мониторинга состояния три новых портативных',
      date: '11.09.2021'
    }
  ]

head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title News

body.news
  +headerParthers('header-news.png', [{href:'/', text:'О компании'}, {href:'/', text:'Новости'}])
  +newsSlider(elemNews)
  +newsContent(elemCheck, elemOption, elemNewsWhite)

  +mainMailing
  +footer
  +popUpCall
