include ../header/header-parthers
include ../main/main-mailing
include ../ui/pop-up-call
include ../ui/main-menu

include ../footer/footer

doctype html
html(lang="en")

head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title Main

body.main-page
  //+header()
  +headerParthers()

  +mainMailing
  +footer
  +popUpCall
