include ../components/header/header-parthers
include ../components/main/main-mailing
include ../ui/pop-up-call
include ../ui/main-menu

include ../components/partners/partners-trust
include ../components/partners/partners-group
include ../components/footer/footer

-
  partner1 = [
    {headline: 'НК «Роснефть»', img: 'partners-1', href: '/'},
    {headline: 'ПАО «Газпром»', img: 'partners-2', href: '/'},
    {headline: 'ПАО «Уралкалий»', img: 'partners-3', href: '/'},
    {headline: 'ПАО «Уралкалий»', img: 'partners-3', href: '/'},
    {headline: 'ПАО «Газпром»', img: 'partners-2', href: '/'},
    {headline: 'НК «Роснефть»', img: 'partners-1', href: '/'},
    {headline: 'ПАО «Газпром»', img: 'partners-2', href: '/'},
    {headline: 'ПАО «Уралкалий»', img: 'partners-3', href: '/'}
  ]

  partner2 = [
    {headline: 'НК «Роснефть»', img: 'partners-1', href: '/'},
    {headline: 'ПАО «Газпром»', img: 'partners-2', href: '/'},
    {headline: 'ПАО «Уралкалий»', img: 'partners-3', href: '/'},
    {headline: 'ПАО «Уралкалий»', img: 'partners-3', href: '/'}
  ]

doctype html
html(lang="en")

head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title Partners

body.partners
  +headerParthers('header-partners.png', [{href:'/', text:'О компании'}, {href:'/', text:'Наши клиенты и партнеры'}])
  +partnersTrust
  .partners__wrap-partners-groups
    +partnersGroup('Металлургия', partner1)
    +partnersGroup('Машиностроение', partner2)
    +partnersGroup('Энергетическая', partner1)
    +partnersGroup('Целлюлозно-бумажная', partner2)
    +partnersGroup('Горнодобывающая', partner2)
    +partnersGroup('Нефтеперерабатывающая', partner1)
  +mainMailing
  +footer
  +popUpCall
