include ../components/header/header-parthers
include ../components/main/main-mailing
include ../ui/pop-up-call
include ../ui/main-menu
include ../components/footer/footer
include ../components/header/header-service
include ../components/service/service-content
include ../components/header/header-products-detail
include ../components/products-detail/products-detail-container

doctype html
html(lang="en")

head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title ProductsDetail

body.products-detail
  +headerProductsDetail(['header-products-detail.png', 'header-products-detail.png', 'header-products-detail.png'], [{href: '/', text: 'Продукция'}, {href: '/', text: 'Подшипники качения'}], 'Роликовые подшипники')
  +productsDetailContainer()

  +mainMailing
  +footer
  +popUpCall
