include ../header/header-parthers
include ../main/main-mailing
include ../ui/pop-up-call
include ../ui/main-menu
include ../footer/footer
include ../header/header-service
include ../service/service-content
include ../header/header-products-detail
include ../products/products-container

doctype html
html(lang="en")

head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title Products

body.products
  //+headerService()
  +headerProductsDetail(['header-products.png', 'header-products.png', 'header-products.png'], [{href: '/', text: 'Продукция'}], 'Каталог продукции')
  +productsContainer()
  //+headerParthers('reference-header.png', [{href:'/', text:'Продукция'}, {href:'/', text:'Справочная информация'}]) sidebar //('sidebar')

  +mainMailing
  +footer
  +popUpCall
