include ../components/header/header-parthers
include ../components/main/main-mailing
include ../ui/pop-up-call
include ../ui/main-menu
include ../components/footer/footer
include ../components/header/header-service
include ../components/service/service-content
include ../components/reference/reference-content

doctype html
html(lang="en")

head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title Reference

body.reference
  //+headerService()sidebar //('sidebar')
  +headerParthers('header-reference.png', [{href:'/', text:'Продукция'}, {href:'/', text:'Справочная информация'}])
  +referenceContent
  +mainMailing
  +footer
  +popUpCall
