include ../components/header/header-parthers
include ../components/main/main-mailing
include ../ui/pop-up-call
include ../ui/main-menu
include ../components/footer/footer
include ../components/service/service-content
include ../components/search/search-content

doctype html
html(lang="en")

head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title Search

body.search
  +headerParthers('header-search.png', [{href:'/', text:'Главная'}, {href:'/', text:'Поиск'}])
  +searchContent([
    {
      id: '1',
      headline: 'III Всероссийский форум <span>инжиниринга</span>',
      text: 'С 30 сентября по 2 октября 2021 года в Самарской области пройдет Третий Всероссийский форум <span>инжиниринга</span> «Основные направления развития индустрии <span>инжиниринга</span> в отраслях топливно-энергетического комплекса». Цель мероприятия - создание ...',
      pagination: [{href:'/', text:'Главная'}, {href:'/', text:'Новости'}]
    },
    {
      id: '2',
      headline: 'Приглашаем малые и средние промышленные предприятия обсудить кооперацию в применении лазерных технологий',
      text: '7 апреля в 10:00 часов Фонд «Региональный центр <span>инжиниринга</span>» совместно с центром поддержки предпринимательства «Мой бизнес», компаниями НТО «ИРЭ-Полюс» и «ВИНЦ» проведут Форум «Современные ...',
      pagination: [{href:'/', text:'Главная'}, {href:'/', text:'Новости'}]
    },
    {
      id: '3',
      headline: 'Региональный центр <span>инжиниринга</span>',
      text: '',
      pagination: [{href:'/', text:'Главная'}, {href:'/', text:'О компании'}, {href:'/', text:'Наши клиенты и партнеры'}]
    },
    {
      id: '4',
      headline: 'Открытые вакансии',
      text: 'Требуется специалист в сфере <span>инжиниринга</span> со знанием английского языка',
      pagination: [{href:'/', text:'Главная'}, {href:'/', text:'О компании'}, {href:'/', text:'Вакансии'}]
    },
    {
      id: '5',
      headline: 'III Всероссийский форум <span>инжиниринга</span>',
      text: 'С 30 сентября по 2 октября 2021 года в Самарской области пройдет Третий Всероссийский форум <span>инжиниринга</span> «Основные направления развития индустрии <span>инжиниринга</span> в отраслях топливно-энергетического комплекса». Цель мероприятия - создание ...',
      pagination: [{href:'/', text:'Главная'}, {href:'/', text:'Новости'}]
    },
    {
      id: '6',
      headline: 'Приглашаем малые и средние промышленные предприятия обсудить кооперацию в применении лазерных технологий',
      text: '7 апреля в 10:00 часов Фонд «Региональный центр <span>инжиниринга</span>» совместно с центром поддержки предпринимательства «Мой бизнес», компаниями НТО «ИРЭ-Полюс» и «ВИНЦ» проведут Форум «Современные ...',
      pagination: [{href:'/', text:'Главная'}, {href:'/', text:'Новости'}]
    },
    {
      id: '7',
      headline: 'Региональный центр <span>инжиниринга</span>',
      text: '',
      pagination: [{href:'/', text:'Главная'}, {href:'/', text:'О компании'}, {href:'/', text:'Наши клиенты и партнеры'}]
    },
    {
      id: '8',
      headline: 'Открытые вакансии',
      text: 'Требуется специалист в сфере нижиниринга со знанием английского языка',
      pagination: [{href:'/', text:'Главная'}, {href:'/', text:'О компании'}, {href:'/', text:'Вакансии'}]
    }
  ])
  +mainMailing
  +footer
  +popUpCall
