//service-detail
include ../header/header-parthers
include ../main/main-mailing
include ../ui/pop-up-call
include ../ui/main-menu
include ../footer/footer
include ../header/header-service
include ../service-detail/service-detail-content
include ../service-detail/service-detail-slider

doctype html
html(lang="en")

head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title Service detail

body.service-detail
  //+headerService()
  +headerParthers('header-service-detail.png', [{href:'/', text:'О компании'}, {href:'/', text:'Фото и видеогалерея'}])
  +serviceDetailContent('sidebar')
  +mainMailing
  +footer
  +popUpCall
  //+serviceDetailSlider(['service-detail-pag-6.png', 'service-detail-pag-5.png', 'service-detail-pag-4.png', 'service-detail-pag-3.png', 'service-detail-pag-2.png', 'service-detail-pag-1.png'])
