include ../components/header/header-parthers
include ../components/main/main-mailing
include ../ui/pop-up-call
include ../ui/main-menu
include ../components/footer/footer
include ../components/header/header-service
include ../components/service/service-content

doctype html
html(lang="en")

head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title Service

body.service
  +headerService()
  //+headerParthers('mediateca-header.png', [{href:'/', text:'О компании'}, {href:'/', text:'Фото и видеогалерея'}]) sidebar //('sidebar')
  +serviceContent('sidebar')
  +mainMailing
  +footer
  +popUpCall
