//include ../header/header-parthers
include ../components/main/main-mailing
include ../ui/pop-up-call
include ../components/contacts/contacts-container
include ../components/footer/footer
include ../components/header/header-service
include ../components/service/service-content
include ../components/header/header-contacts
include ../components/footer/footer-top
include ../ui/team-tabs
include ../ui/team-elem
include ../components/team/team-content

doctype html
html(lang="en")

head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title Team

body.team
  +headerContacts('header-team.png', {btn: 'Смотреть видео', headline: 'Наша команда', link: [{href: '/', text: 'О компании'}, {href: '/', text: 'Команда'}]})

  +teamContent


  +mainMailing

  +footer
  +popUpCall
