-
  let elemTabs = [
    {href: '/', text: 'Руководство компании'},
    {href: '/', text: 'Отдел продаж'},
    {href: '/', text: 'Отдел снабжения'},
    {href: '/', text: 'Отдел техсервиса'},
    {href: '/', text: 'Отдел ВЭД'},
    {href: '/', text: 'Склад'}
  ]

  let elemTeam = [
    {img: 'team-elem-1.png', name: 'Сергей Сергеевский', department: 'Руководитель отдела снабжения', phone: '+7 (1234) 123-12-34', email: 'office@importservice.ru', text: 'Администратор управляет учреждением или организацией и несёт ответственность за его работу и работу сотрудников. Он отчитывается перед вышестоящим руководством о результатах своей работы и результатах работы подчинённых ему сотрудников.'},
    {img: 'team-elem-2.png', name: 'Ольга Ольговская', department: 'Председатель Совета директоров, независимый неисполнительный директор', phone: '+7 (1234) 123-12-34', email: 'office@importservice.ru', text: ''},
    {img: 'team-elem-2.png', name: 'Ольга Ольговская', department: 'Председатель Совета директоров, независимый неисполнительный директор', phone: '+7 (1234) 123-12-34', email: 'office@importservice.ru', text: ''},
    {img: 'team-elem-2.png', name: 'Ольга Ольговская', department: 'Председатель Совета директоров, независимый неисполнительный директор', phone: '+7 (1234) 123-12-34', email: 'office@importservice.ru', text: ''},
    {img: 'team-elem-1.png', name: 'Сергей Сергеевский', department: 'Руководитель отдела снабжения', phone: '+7 (1234) 123-12-34', email: 'office@importservice.ru', text: 'Администратор управляет учреждением или организацией и несёт ответственность за его работу и работу сотрудников. Он отчитывается перед вышестоящим руководством о результатах своей работы и результатах работы подчинённых ему сотрудников о результатах своей работы и результатах работы подчинённых ему сотрудников о результатах своей работы и результатах работы.'},
    {img: 'team-elem-2.png', name: 'Ольга Ольговская', department: 'Председатель Совета директоров, независимый неисполнительный директор', phone: '+7 (1234) 123-12-34', email: 'office@importservice.ru', text: ''}
  ]

mixin teamContent
  .container__2920
    .team-content
      +teamTabs(elemTabs)
      .container-team-elems
        each el in elemTeam
          .container-team-elems__elem
            +teamElem(el.img, el.name, el.department, el.phone, el.email, el.text)
