.header {
  position: relative;

  &__wrap-menu {
    position: absolute;
    z-index: 5;
    width: 100%;
    top: 50px;
  }
  &__burger {
    display: block;

    &_none {
      display: none;
    }
  }
}

@include lg {
  .header {
    &__wrap-menu {
      top: 25px;
    }
  }
}

@include md {
  .header {
    &__wrap-menu {
      top: 30px;
    }
  }
}
