.header {
  position: relative;
  //height: auto;
  //z-index: -1;
  &__wrap-menu {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 50px;
  }
  &__burger {
    display: block;

    &_none {
      display: none;
    }
  }
}

@media (max-width: 1300px) {
  .header {

    &__wrap-menu {
      top: 25px;
    }
  }
}
@media (max-width: 1100px) {
  .header {
    //&__burger {
    //  display: none;
    //}

    &__wrap-menu {
      top: 30px;
    }
  }
}
