.header-errors {
  height: 879px;
  background: var(--grey);
  position: relative;
  overflow: hidden;

  &__wrap-image {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: end;
    overflow: hidden;

    img {
      padding: 225px 200px 0 0;
    }
  }

  .header__wrap-menu {
    top: 35px;
  }


}

@include xl {
  .header-errors {

    &__wrap-image {
      right: -260px;
      top: 20px;
      img {
        padding: 225px 0 0 0;
      }
    }
  }
}

@include md {
  .header-errors {

    &__wrap-image {
      right: -60px;
      top: 320px;
      img {
        width: 324.16px;
        height: 286.5px;
      }
    }
  }
}

@include sm {
    .header-errors {
      height: 612px;

      &__wrap-image {
        overflow: hidden;
        right: -90px;

        img {
          padding: 70px 0 0 100px;
          width: 216.11px;
          height: 191px;
        }
      }

      .header__wrap-menu {
        top: 25px;
      }
    }
}
