.company-possibility {
  max-width: 365px;
  width: 100%;
  height: 484px;
  position: relative;
  box-sizing: border-box;
  //padding: 5px 12px 5px 0;
  padding-right: 12px;

  &__img {
    position: absolute;
    top: -72px;
    left: 22px;
  }

  &__headline {
    font-size: 24px;
    line-height: 28px;
    color: var(--red);
    margin: 118px 0 0; //132px 0 0;
    max-width: 300px;
  }

  &_white {
    border: 1px solid var(--partners-bord);
    padding-left: 31px;
  }

  &_grey {
    background: var(--grey-3);
    padding-left: 33px;

    .company-possibility__img {
      top: -40px;
    }
  }

  &_red {
    padding-left: 36px;
    background: var(--red);

    .company-possibility__img {
      top: -34px;
    }

    .company-possibility__headline {
      color: var(--white);
    }

    .company-possibility-texts {
      &__text {
        color: var(--white);
      }
    }

    .company-possibility-lists {
      &__list {
        color: var(--white);

        &::before {
          background: var(--white);
        }
      }
    }

    .company-possibility-content {
      &::-webkit-scrollbar-thumb {
        background: var(--point-scroll-red);
      }

      &::-webkit-scrollbar-track { //пространство под индикатором
        background: var(--back-scroll-red);
      }
    }
  }
}

.company-possibility-content {
  overflow-y: auto;
  height: 454px;
  margin: 14px 0;

  &::-webkit-scrollbar {
    width: 8px;
    border-radius: 24px;
    height: 300px;
  }


  &::-webkit-scrollbar-thumb {
    background: var(--red);
    opacity: 0.2;
    border-radius: 24px;
  }

  &::-webkit-scrollbar-track { //пространство под индикатором
    background: var(--back-scroll);
    opacity: 0.2;
    border-radius: 24px;
  }
}

.company-possibility-texts {
  &__text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin: 12px 0 20px;
    max-width: 300px;
  }
}

.company-possibility-lists {
  max-width: 300px;
  &__list {
    padding: 0 0 0 18px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    position: relative;
    margin: 0 0 12px;

    &:last-child {
      margin: 0;
    }

    &::before {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      background: var(--red);
      border-radius: 50px;
      left: 0;
      top: 9px;
    }
  }
}

@media (max-width: 1620px) {
  .company-possibility {
    margin-right: 20px;
    &:last-child {
      margin: 0;
    }
  }
}

@media (max-width: 1300px) {
  .company-possibility {
    width: 50%;
    margin: 0;

    //&:nth-child(2),
    //&:nth-child(4) {
    //  margin-right: 10px;
    //}

    &:first-child {
      margin-bottom: 72px;
    }
  }
}

@media (max-width: 900px) {
  .company-possibility {
    width: 49%;
  }
}

@media (max-width: 680px) {
  .company-possibility {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .company-possibility {
    &:first-child {
      margin-bottom: 82px;
    }

    &:nth-child(2) {
      margin-bottom: 65px;
    }

    &:nth-child(3) {
      margin-bottom: 71px;
    }

    &_grey {
      height: 516px;
    }

    &_red {
      height: 507px;
    }
  }
}
