.mediateca-post {
  width: 100%;
  height: 100%;
  min-height: 360px;
  padding: 0 0 31px 30px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background-size: 100% 100%;
  transition: background-size .5s ease-in;
  background-position: center;

  &:hover {
    background-size: 110% 110%;
    object-position: center;
    .mediateca-post__back {
      display: none;
    }
  }
  &__icon {
    position: absolute;
    width: 41.76px;
    height: 28.71px;
    left: 22px;
    top: 20px;
    z-index: 2;
  }
  &__icon.mediateca-post-video {
    width: 58px;
    height: 58px;
  }
  &__back {
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}

.mediateca-post_long {
  grid-column: span 3;
}

.mediateca-post_high {
  grid-row: span 2;
}

.mediateca-post-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  z-index: 3;

  &__headline {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: var(--white);
    margin: 0 0 10px;
  }
  &__date {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    color: var(--white);
    margin: 0;
  }
}


@include tablet {
  .mediateca-post {
    min-height: 387px;

    &:nth-child(2),
    &:nth-child(6),
    &:nth-child(5),
    &:nth-child(7),
    &:nth-child(11){
      display: none;
    }
  }
  .mediateca-post_long {
    grid-column: span 2;
    min-height: 360px;
    box-sizing: border-box;
  }

  .mediateca-post_high {
    grid-row: span 1;
  }
}

@include sm {
  .mediateca-post {
    padding: 0 20px 20px 20px;
    &:nth-child(4),
    &:nth-child(8){
      display: none;
    }
  }
}
