.pages-pagination {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  &__img {
    margin-right: 16px;
  }
  &__wrap-elems {
    display: flex;
    align-items: center;

    &:last-child {
      svg {
        &:last-child {
          display: none;
        }
      }
    }

    svg {
      margin-right: 10px;
    }
  }

}

.pages-pagination-elem {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--white);
  text-decoration: none;
  margin-right: 10px;

  svg {
    margin-right: 10px;
    * {
      stroke: white;
    }
  }

  &:hover {
    opacity: 0.8;
  }
}


@include tablet {
  .pages-pagination {
    margin-bottom: 35px;
  }
}

@media (max-width: 400px) {
  .pages-pagination-elem {
    font-size: 14px;
    white-space: nowrap;
  }

  .pages-pagination {
    &__img {
      margin-right: 10px;
    }
  }
}
