.play {
  cursor: pointer;
  &:hover {
    svg {
      path {
        fill: white;
      }
    }
  }
}


@include tablet {
  .play {
    height: 90px;
    width: 90px;
    svg {
      height: 90px;
      width: 90px;
    }
  }
}

@include sm {
  .play {
    height: 70px;
    width: 70px;
    svg {
      height: 70px;
      width: 70px;
    }
  }
}
