.wrap-pop-up-call {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: end;

  &_none {
    display: none;
  }
}

.pop-up-call {
  width: 640px;
  height: 100%;
  z-index: 12;
  background: var(--white);
  opacity: 1;
  padding: 32px 70px 0 54px;

  .footer-top-form__input {
    margin-bottom: 20px;
  }

  &__manager {
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    max-width: 490px;
    span {
      color: var(--red);
    }
  }

  &__report {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin: 20px 0 0;
    padding-left: 14px;
    max-width: 529px;
  }
}

.pop-up-call-wrap-headline {
  display: flex;
  align-items: center;
  margin: 0 0 67px;
  justify-content: space-between;
  &__headline {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: var(--black);
  }
  &__cross {
    cursor: pointer;
    svg {
      * {
        fill: var(--red);
      }
    }
  }
}
//@include tablet {
//
//}
@media (max-width: 500px) {
  .pop-up-call {
    padding: 40px 20px 0 20px;
  }

  .pop-up-call-wrap-headline {
    &__headline {
      font-size: 30px;
    }
  }
}
