.wrap-pop-up-accessories {
  //position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;

  z-index: 10;
  display: flex;

  &_none {
    display: none;
  }
}

.pop-up-accessories {
  background: var(--white);
  //height: 100%;
  height: 100vh;
  //max-height: 100vh;
  max-width: 1331px;
  width: 100%;
  //overflow-y: auto;
  //overflow-x: hidden;
}

.pop-up-accessories-elem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 70px 100px 0 189px;
  border-bottom: 1px solid var(--grey-5);
  min-height: 186px;
  box-sizing: border-box;

  &:last-child {
    padding: 61px 60px 0 189px;
  }
}

.pop-up-accessories-elem-left-wrap-img {
  width: 61px;
  display: flex;
  justify-content: center;
}

.pop-up-accessories-elem-left {
  display: flex;
  align-items: center;
  height: 70px;

  &__headline {
    margin: 25px 0 0 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    max-width: 300px; // для двойного эл
  }
}

.pop-up-accessories-elem-right {
  padding: 0 0 0 65px;
}

.pop-up-accessories-elem-right-list {
  margin: 10px 0 0;
}

.pop-up-accessories-head {
  display: flex;
  border-bottom: 1px solid var(--grey-5);
  padding: 35px 0 40px 184px;
  align-items: center;

  &__headline {
    margin: 0 0 0 43.8px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: var(--black);
    max-width: 400px;
  }

  &__cross {
    display: none;
  }
}

.pop-up-accessories-cross {
  width: 60px;
  height: 60px;
  background: var(--red);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pop-up-accessories-container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--grey-5);

  &:last-child {
    border-bottom: none;
  }
}

.pop-up-accessories-content-img {
  width: 85.79px;
  display: flex;
  justify-content: center;
}

.pop-up-accessories-content {
  display: flex;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  padding: 47px 20px;
  cursor: pointer;

  &__headline {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--black);
    margin: 0 0 0 15px;
  }
}


.pop-up-accessories-list {
  display: flex;
  flex-direction: column;
  margin: 0 0 40px;
}

.pop-up-accessories-list-texts {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s;

  &_active {
    color: var(--red);

    svg {
      * {
        stroke: var(--red);
      }
    }
  }

  //&_none {
  //  display: none;
  //}

  &__headline {
    margin: 0 0 0 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    max-width: 500px;
  }

  &__arrow {
    margin: 5px 0 0 20px;
  }
}

.pop-up-accessories-list-list {
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 57px;

  &_none {
    display: none;
  }

  &__elem {
    display: inline-block;
    text-decoration: none;
    color: var(--black);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin: 5px 0 7px;
    letter-spacing: 0.015em;

    &:hover {
      color: var(--red);
    }
  }
}


@media (max-width: 1300px) {
  .pop-up-accessories-elem {
    flex-direction: column;
  }
}

@media (max-width: 950px) {
  .pop-up-accessories-cross {
    display: none;
  }

  .pop-up-accessories-elem {
    padding: 60px 10px 60px 20px;
    min-height: 160px;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;

    &:last-child {
      padding: 60px 0 60px 20px;
    }
  }

  .pop-up-accessories-head {
    padding: 50px 0 37px 51px;
    position: relative;

    &__headline {
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
      margin: 0 0 0 39.87px;
    }

    &__cross {
      cursor: pointer;
      display: flex;
      position: absolute;
      top: 30.4px;
      right: 24px;
    }
  }

  .pop-up-accessories-elem-left {
    height: inherit;

    &__headline {
      max-width: 600px;
      margin: 5px 0 0 12px;
    }
  }

  .pop-up-accessories-elem-right {
    padding: 0 0 0 75px;
  }

  .pop-up-accessories-elem-right-list {
    margin: 0;
  }


  .pop-up-accessories-list {
    padding: 0;
    margin: 0;
    &:last-child {
      padding: 0;
    }
  }
  .pop-up-accessories-list-list {
    margin: 12px 0 0 57px;

    &__elem {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .pop-up-accessories-list-texts {
    margin: 40px 0 0;

  }
}

@media (max-width: 500px) {
  .pop-up-accessories-head {
    padding: 12px 0 4px 0;

    &__img {
      transform: scale(0.6);
    }

    &__headline {
      font-size: 24px;
      line-height: 28px;
      margin: 0;
    }

    &__cross {
      top: 20.4px;
      right: 20px;
    }
  }

  .pop-up-accessories-elem-right {
    padding: 0;
  }

  .pop-up-accessories-elem {
    padding: 35px 10px 35px 20px;
    min-height: 110px;
  }

  .pop-up-accessories-elem-left-wrap-img {
    width: 37.16px;
    display: flex;
    justify-content: center;
  }

  .pop-up-accessories-elem-left {
    height: inherit;
    align-items: flex-start;

    &__headline {
      max-width: 600px;
      margin: 0 0 0 12px;
    }
  }

  .pop-up-accessories-content {
    display: flex;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    padding: 30px 15px;

    &__headline {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      margin: 0 0 0 15px;
    }
  }


  .pop-up-accessories-list-texts {
    margin: 34px 0 0;
    &__headline {
      margin: 0 0 0 13px;
    }

    &__arrow {
      margin: 5px 0 0 8px;
    }

    &__img {
      width: 37.16px;
      height: 37.16px;
    }
  }

  .pop-up-accessories-list-list {
    margin: 12px 0 0 52px;
  }
}
