.sidebar-manager {
  max-width: 365px;
}

.manager {
  margin: 0 0 10px;
}

.manager-slider {
  overflow: hidden;
  .swiper-wrapper {
    .swiper-slide {
      width: auto;
      height: 300px;
      //center
      //display: flex;
      //justify-content: center;

      &__img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}


.manager-description {
  position: relative;
  padding: 0 0 22px 33px;
  background: var(--bej);
  height: auto;
  display: flex;
  flex-direction: column;

  &__head {
    background: var(--red);
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    text-transform: uppercase;
    color: var(--white);
    margin: 0;
    padding: 8px 19px;
    //max-width: 252px;
    box-sizing: border-box;
    position: absolute;
  }
  &__headline {
    margin: 51.18px 0 10px; //margin: 18.4px 0 10px;
    //margin: 18.4px 0 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: var(--black);
  }
  &__text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 10px;
    color: var(--black);
    max-width: 290px;
  }
}

.manager-description-useful {
  display: flex;
  margin: 78px 0 0;
  cursor: pointer;
  &__headline {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin: 0 5px 0 0;
    border-bottom: 2px dashed var(--red);
  }
  &__arrow {

  }
}



.wrap-manager-info {
  display: flex;
  justify-content: space-between;
}
.manager-info {
  &__phone {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 10px;
    color: var(--black);
  }
  &__date {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin: 0;
    color: var(--black);
  }
}

.manager-info-icon {
  padding-right: 70px;
  cursor: pointer;
}

.manager-slider-conrol {
  margin-top: 40px;
  display: flex;
  align-items: center;
  &__pagination {
    display: flex;
    align-items: center;
    padding-left: 5px;
    .service-pagination__point {
      width: 10px;
      height: 10px;
      border: 2px solid var(--control-grey);
      box-sizing: border-box;
      background: var(--bej);
      margin-right: 22px;

      &:last-child {
        margin-right: 12px;
      }

      &.swiper-pagination-bullet-active {
        width: 12px;
        height: 12px;
        background: var(--black);
        border: none;
      }
    }
  }
  &__line {
    width: 100%;
    max-width: 158px;
    height: 1px;
    background: var(--control-grey);
    margin-top: 1px;
  }
}

.manager-description-pop-up {
  position: absolute;
  background: var(--red);
  z-index: 2;
  left: 0;
  width: 100%;
  top: 305px;
  display: flex;

  &_none {
    display: none;
  }
}
.manager-description-pop-up-list {
  margin: 0;
  padding: 26px 0;
  width: 100%;
  position: relative;

  &__cross {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 20px;
    top: 20.4px;
    cursor: pointer;
    z-index: 2;
    display: none;
  }

  &__elem {
    color: var(--white);
    padding-left: 45px;
    position: relative;
    margin: 0 0 27px;

    &:last-child {
      margin: 0;
    }

    &:before {
      content: '';
      position: absolute;
      left: 30px;
      top: 5px;
      border-radius: 50px;
      width: 6px;
      height: 6px;
      background: var(--white);
    }
  }
}


.manager-slider-conrol-arrow {
  display: flex;

  > * {
    cursor: pointer;
    display: flex;
    align-items: center;

    svg {
      * {
        stroke: var(--black);
      }
    }
  }

  .swiper-button-disabled {
    svg {
      * {
        stroke: var(--control-grey);
      }
    }
  }

  &__prev {
    margin: 0 40px 0 5px;
  }
  &__next {
    transform: rotate(180deg);
  }
}

.specialists {
  padding: 36px 22px 43px 33px;
  border: 1px solid var(--partners-bord);
  &__headline {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: var(--black);
    margin: 0 0 21px;
    max-width: 260px;
  }
  &__text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--black);
    margin: 0;
  }
}


@media (max-width: 1100px) {
  .manager {
    display: flex;
  }

  .sidebar-manager {
    max-width: 100%;
  }

  .manager-slider {
    //width: 360px;
    height: 396px;
    width: 45%;//50%; width: 40%;
    .swiper-wrapper {
      max-width: 360px;
      .swiper-slide {
        //height: 396px;
        //width: 100%;
        &__img {
          height: 396px;
          //object-fit: cover;
          //max-width: 100%;
        }
      }
    }
  }

  .manager-description {
    max-width: 550px; //510px
    width: 55%;// 50%;width: 70%;
    padding: 0 10px 22px 34px;//padding: 0 0 22px 70px;
    box-sizing: border-box;
  }

  .manager-description-pop-up {
    top: 0;
    height: 100%;
  }

  .manager-description-pop-up-list {
    margin: 0;
    padding: 56px 0 0;

    &__cross {
      display: block;
    }
  }

  .specialists {
    padding: 40px 22px 33px 80px;
    &__headline {
      max-width: 700px;
      margin: 0 0 15px;
    }
  }
}


@media (max-width: 800px)  {
  .manager-description {
    max-width: 396px;
    width: 50%;
    padding: 0 10px 22px 34px;
  }

  //.sidebar-manager {
  //  margin: 0 24px 0 30px; // news-detail
  //}

  .manager-slider {
    width: 50%;
    .swiper-wrapper {
      .swiper-slide {
        &__img {
          width: 390px; //360
          //height: 100%;
          //object-fit: cover;
        }
      }
    }
  }
  .specialists {
    padding: 40px 22px 33px 65px;
    &__headline {
      max-width: 550px;
      margin: 0 0 15px;
    }
  }

  .manager-info-icon {
    padding-right: 10px;
    //cursor: pointer;
  }
}

@media (max-width: 675px) {
  .sidebar-manager {
    max-width: 700px;
    width: 100%;
    //margin: 0;
  }

  .manager {
    flex-direction: column;
  }

  .manager-slider {
    width: 100%;
    max-width: 680px;
    .swiper-wrapper {
      .swiper-slide {
        &__img {
          width: 100%;
          max-width: 680px;
        }
      }
    }
  }

  .manager-description-pop-up {
    top: 305px;
    height: inherit;
  }
  .manager-description-pop-up-list {
    //margin: 0;
    padding: 26px 0;
  }

  .manager-description {
    width: 100%;
    max-width: 680px;
  }

  .manager-slider-conrol {
    &__line {
      max-width: 558px;
      margin-right: 10px;
    }
  }

  .specialists {
    padding: 36px 22px 43px 33px;
  }
}

//@media (max-width: 700px) {
//  .manager {
//    display: inline-block;
//    //flex-wrap: nowrap;
//  }
//
//  .sidebar-manager {
//    display: flex;
//    flex-wrap: wrap;
//    justify-content: center;
//  }
//}

//@media (max-width: 420px) {
//  .sidebar-manager {
//    margin: 0 -22px 0 -20px;
//  }
//}
