.products-detail-container-right {
  width: 100%;
  display: flex;
  flex-basis: 365px;
  flex-shrink: 2;
}

@media (max-width: 800px) {
  .products-detail-container-right {
    padding-top: 105px;
  }
}

@media (max-width: 500px) {
  .products-detail-container-right {
    padding-top: 90px;
  }
}
