include ../../ui/certificate-elem

mixin certificatesContent(elem)
  .container__2920
    .certificates-content
      .certificates-content-head
        .certificates-content-texts
          h1.certificates-content-texts__headline Сертификаты
          p.certificates-content-texts__text Система менеджмента качества IBS одобрена Lloyd’s Register Quality Assurance и признана соответствующей требованиям следующих стандартов: BS EN ISO 9001:2015; EN ISO 9001:2015; ISO 9001:2015. Сертификат соответствия NSPB0006300 издан Lloyd’s Register EMEA Санкт-Петербург от имени и по поручению Lloyd’s Register Quality Assurance Limited.
        .certificates-content-circles
          img(src='../../images/ellipse.png').certificates-content-circles__img
          img(src='../../images/ellipse.png').certificates-content-circles__img
      .certificates-content__certificates
        each el in elem
          +certificateElem(el.img, el.icon, el.headline, el.text, el.href)
