include ../../ui/pop-up-filter

mixin newsContentSettingsBurger(elemCheck, elemOption)
  .news-content-settings-burger
    .news-content-settings-burger__icon
      <svg width="25" height="22" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 2.73524C0 1.97969 0.612499 1.36719 1.36806 1.36719H23.2569C24.0125 1.36719 24.625 1.97969 24.625 2.73524C24.625 3.4908 24.0125 4.1033 23.2569 4.1033H1.36806C0.612499 4.1033 0 3.4908 0 2.73524Z" fill="#AB2421"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 19.1532C0 18.3977 0.612499 17.7852 1.36806 17.7852H23.2569C24.0125 17.7852 24.625 18.3977 24.625 19.1532C24.625 19.9088 24.0125 20.5213 23.2569 20.5213H1.36806C0.612499 20.5213 0 19.9088 0 19.1532Z" fill="#AB2421"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 10.9442C0 10.1887 0.612499 9.57617 1.36806 9.57617H23.2569C24.0125 9.57617 24.625 10.1887 24.625 10.9442C24.625 11.6998 24.0125 12.3123 23.2569 12.3123H1.36806C0.612499 12.3123 0 11.6998 0 10.9442Z" fill="#AB2421"/>
        <path d="M9.20855 2.73611C9.20855 4.24722 7.98355 5.47222 6.47244 5.47222C4.96133 5.47222 3.73633 4.24722 3.73633 2.73611C3.73633 1.225 4.96133 0 6.47244 0C7.98355 0 9.20855 1.225 9.20855 2.73611Z" fill="#AB2421"/>
        <path d="M13.3121 19.1521C13.3121 20.6632 12.0871 21.8882 10.576 21.8882C9.06484 21.8882 7.83984 20.6632 7.83984 19.1521C7.83984 17.641 9.06484 16.416 10.576 16.416C12.0871 16.416 13.3121 17.641 13.3121 19.1521Z" fill="#AB2421"/>
        <path d="M21.5211 10.9431C21.5211 12.4543 20.2961 13.6793 18.7849 13.6793C17.2738 13.6793 16.0488 12.4543 16.0488 10.9431C16.0488 9.43203 17.2738 8.20703 18.7849 8.20703C20.2961 8.20703 21.5211 9.43203 21.5211 10.9431Z" fill="#AB2421"/>
      </svg>
    .news-content-settings-burger__headline Фильтры
