include ../../ui/news-elem-white
include ../../ui/btn

mixin vacanciesNews(elem)
  .container__2920
    .vacancies-news
      .vacancies-news-texts
        h2.vacancies-news-texts__headline Смотрите также
        a(href='/').vacancies-news-texts__all-news все новости
      .vacancies-news-container
        each el in elem
          .vacancies-news-container__elem
            +newsElemWhite(el.href, el.btn, el.headline, el.text, el.date, el.image)
      .vacancies-news-btn
        +btn('Все новости', 'btn_red', '/')
