mixin partnersTrust
  .container__2920
    .partners-trust
      .partners-trust-wrap-text
        h2.partners-trust__headline Нам доверяют!
        img(src='../../images/arms.png').partners-trust-wrap-text__img
        p.partners-trust__text.
          «Импортсервис» — компания-лидер по всей России.
          Сформировавшийся имидж уже хороший и постоянно улучшается:
          надёжный поставщик, имеются рекомендательные письма.
          Все ключевые предприятия уже являются партнёрами,
          компания имеет только положительные отзывы.
      //.partners-trust-wrap-img
      img(src='../../images/arms.png').partners-trust__img
