mixin mainBearingSize
  .main-bearing-size
    .main-bearing-size-wrap-text
      h2.main-bearing-size-wrap-text__headline 3000 м2
      p.main-bearing-size-wrap-text__text подшипниковой продукции премиум брендов
