include ../ui/news-elem
include ../ui/btn

mixin mainNews
  .main-news
    .container__1920
      .main-news-wrap-text
        h2.main-news-wrap-text__headline Новости и предложения
        a(href='/').main-news-wrap-text__href все новости
      .main-news-wrap-news
        .main-news-wrap-news__left
          +newsElem('/', 'Фотогалерея', 'Новые тахометры SKF расширяют возможности по сбору данных для мониторинга состояния', 'Уникальный ультразвуковой прибор, способный «слышать» звук пластичной смазки, заполняющей подшипник, повышает...', '01.01.22', 'news-big.png', 'news-elem-big')
        .main-news-wrap-news__right
          .main-news-elem
            +newsElem('/', 'обзор', 'Ультразвуковой прибор повышает точность повторного смазывания', 'Уникальный ультразвуковой прибор, способный «слышать» звук пластичной смазки, заполняющей подшипник, повышает...', '01.01.22', 'news-elem-1.png')
          .main-news-elem
            +newsElem('/', 'спецпредложение', 'Agri Disc Hub от NSK – надежность в экстремальных условиях...', 'Для подшипников в сельскохозяйственной отрасли всегда существует множество потенциальных опасностей, включая влажность, земляную пыль, агрессивные...', '01.01.22', 'news-elem-2.png')
          .main-news-elem
            +newsElem('/', 'Новинка', 'Новые тахометры SKF расширяют возможности по сбору данных для...', 'SKF добавила в свой ассортимент базового оборудования для мониторинга состояния три новых портативных тахометра, которые позволяют более эффективно измерять...', '01.01.22', 'news-elem.png')
          .main-news-elem
            +newsElem('/', 'Новинка', 'Новые тахометры SKF расширяют возможности по сбору данных для...', 'SKF добавила в свой ассортимент базового оборудования для мониторинга состояния три новых портативных тахометра, которые позволяют более эффективно измерять...', '01.01.22', 'news-elem.png')
      .main-news__wrap-btn
        +btn('Все новости', 'btn_red', '/')
