include ../ui/arrow
include ./main-slaider-slide

mixin mainSlaider(typeSlider)
  div(class=`container-slider ${typeSlider}`)
    .slider-left-block
      .slider-left-block__wrap-text
        h2.slider-headline WMS — система управления складом на 3000 м2
        p.slider-text максимально быстрая сборка заказа и низкая себестоимость
    .slider-right-block
      .slider
        .swiper-wrapper
          .swiper-slide
            +mainSlaiderSlide('slider-1.png', 'slaider-slide__play')
          .swiper-slide
            +mainSlaiderSlide('slider-1.png', null)
        .swiper-pagination
        .control-slider
          .control-slider-prev
            +arrow('arrow_red')
          .control-slider-next
            +arrow('arrow_white arrow_right')

            //.control-slider__arrow_slider__arrow_left.control-slider__arrow_left
              //.control-slider__arrow_slider__arrow_right.control-slider__arrow_right
