include ../ui/news-elem

mixin mainNews
  .main-news
    .container__1920
      .main-news-wrap-text
        h2.main-news-wrap-text__headline Новости и предложения
        a(href='/').main-news-wrap-text__href все новости
      .main-news-wrap-news
        .main-news-wrap-news__left
          +newsElem('/', 'Фотогалерея', 'Ультразвуковой прибор повышает точность повторного смазывания', 'Уникальный ультразвуковой прибор, способный «слышать» звук пластичной смазки, заполняющей подшипник, повышает...', '01.01.22', 'news-big.png', 'news-elem-big')
        .main-news-wrap-news__right
          .main-news-elem
            +newsElem('/', 'обзор', 'Ультразвуковой прибор повышает точность повторного смазывания', 'Уникальный ультразвуковой прибор, способный «слышать» звук пластичной смазки, заполняющей подшипник, повышает...', '01.01.22', 'news-elem.png')
          .main-news-elem
            +newsElem('/', 'спецпредложение', 'Ультразвуковой прибор повышает точность повторного смазывания', 'Уникальный ультразвуковой прибор, способный «слышать» звук пластичной смазки, заполняющей подшипник, повышает...', '01.01.22', 'news-elem.png')
          .main-news-elem
            +newsElem('/', 'Новинка', 'Ультразвуковой прибор повышает точность повторного смазывания', 'Уникальный ультразвуковой прибор, способный «слышать» звук пластичной смазки, заполняющей подшипник, повышает...', '01.01.22', 'news-elem.png')
          .main-news-elem
            +newsElem('/', 'Новинка', 'Ультразвуковой прибор повышает точность повторного смазывания', 'Уникальный ультразвуковой прибор, способный «слышать» звук пластичной смазки, заполняющей подшипник, повышает...', '01.01.22', 'news-elem.png')
