include ../ui/btn
include ../ui/review

mixin mainReviews(elem)
  .main-reviews
    .container__1920
      .wrap-headline-btn
        h2.wrap-headline-btn__headline!= 'За <span>20 лет работы</span> нам доверилось более 1000 крупнейших компаний России'
        .wrap-headline-btn__btn
          +btn('Отзывы наших клиентов', 'btn_white', '/')
      .wrap-reviews-elem
        each el in elem
          +review(el)


        //span 20 лет работы
