mixin mainBearingSize
  .main-bearing-size
    .main-bearing-size-wrap-text
      h2.main-bearing-size-wrap-text__headline 3000 м
        sup 2
      p.main-bearing-size-wrap-text__text подшипниковой продукции премиум брендов
    .wrap-control-header-slider
      .control-header-slider
        .control-header-slider-prev
          +arrow('arrow_white')
        .control-header-slider-next
          +arrow('arrow_red arrow_right')
