include ../ui/btn

mixin mainBearingSliderInfo
  .wrap-main-bearing-slider-info
    .container-main-bearing-slider-info
      .main-bearing-slider-info
        p.main-bearing-slider-info__text!= `Более <span>15 000 видов</span> наименований отгружаются с нашего склада ежедневно по всей России`
        .main-bearing-slider-info__wrap-buttons
          .main-bearing-slider-info-btn
            +btn('Перейти в каталог', 'btn_red', '/')
          .main-bearing-slider-info-btn
            +btn('Интернет-магазин', 'btn_white', '/')
