.sidebar {
  .news-detail-article {
    &__text {
      &_top {
        margin: 0 0 45px;
      }
    }
  }

  .news-detail-article-listing {
    margin: 36px 0 0;
  }

  .news-detail-article-listing-lists {
    &__list {
      margin-left: 33px;

      &:first-child {
        margin-bottom: 32px;
      }
    }
  }
}

.news-detail-article {
  &__headline {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: var(--black);
    margin: 0;
  }
  &__sub-headline {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: var(--red);
    margin: 20px 0 25px;
  }
  &__text {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: var(--black);

    &_top {
      margin: 0 0 70px;
    }
  }
}

.news-detail-article-listing {
  display: flex;
  margin: 60px 0 0;
  &__img {

  }
}

.news-detail-article-listing-lists {
  &__list {
    margin-left: 33px;

    &:first-child {
      margin-bottom: 85px;
    }
  }
}

@media (max-width: 1620px) {
  .news-detail-article {
    &__text {
      &_top {
        margin: 0 0 45px;
      }
    }
  }

  .news-detail-article-listing-lists {
    &__list {
      margin-left: 45px;
    }
  }

  .sidebar {
    .news-detail-article {
      &__text {
        &_top {
          margin: 0 0 15px;
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .news-detail-article {
    &__headline {
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
    }

    &__sub-headline {
      margin: 30px 0 25px;
    }

    &__text {
      &_top {
        margin: 0 0 35px;
      }
    }
  }

  .news-detail-article-listing {
    margin: 45px 0 0;

    &__img {
      max-width: 610px;
    }
  }

  .news-detail-article-listing-lists {
    &__list {
      margin-left: 40px;

      &:first-child {
        margin-bottom: 35px;
      }
    }
  }

  .sidebar {
    .news-detail-article-listing {
      flex-direction: column;
      margin: 29px 0 0;

      &__img {
        max-width: 761px;
      }
    }

    .news-detail-article {
      &__text {
        letter-spacing: 0.02em;
        &_top {
          margin: 0 0 25px;
        }
      }
    }

    .news-detail-article-listing-lists {
      margin: 20px 0 0;
      &__list {
        margin-left: 0;

        &:first-child {
          margin-bottom: 40px;
        }
      }
    }
  }
}

@media (max-width: 1040px) {
  .sidebar {
    .news-detail-article {
      &__headline {
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
      }

      &__sub-headline {
        margin: 30px 0 25px;
      }

      &__text {
        &_top {
          margin: 0 0 20px;
        }
      }
    }

    .news-detail-article-listing {
      flex-direction: row;

      &__img {
        max-width: 445px;
        height: 328px;
      }
    }

    .news-detail-article-listing-lists {
      margin: 0 0 0 30px;

      &__list {
        &:first-child {
          margin-bottom: 15px;
        }
      }
    }
  }

  .news-detail-article {
    &__headline {
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
    }

    &__sub-headline {
      margin: 30px 0 25px;
    }

    &__text {
      &_top {
        margin: 0 0 20px;
      }
    }
  }

  .news-detail-article-listing {
    flex-direction: row;
    margin: 29px 0 0;

    &__img {
      max-width: 445px;
      height: 328px;
    }
  }

  .news-detail-article-listing-lists {
    margin: 0 0 0 30px;

    &__list {
      margin-left: 0;
      &:first-child {
        margin-bottom: 15px;
      }
    }
  }
}


@media (max-width: 800px) {
  .sidebar {
    .news-detail-article-listing {
      margin: 40px 0 0;
      flex-direction: column;

      &__img {
        max-width: 726px;
        max-height: 493px;
        height: auto;

        margin-bottom: 40px;
      }
    }

    .news-detail-article-listing-lists {
      margin: 0 0 0 5px;

      &__list {
        &:first-child {
          margin-bottom: 30px;
        }
      }
    }
  }

  .news-detail-article-listing {
    margin: 40px 0 0;
    flex-direction: column;

    &__img {
      max-width: 726px;
      max-height: 493px;
      height: auto;

      margin-bottom: 40px;
    }
  }

  .news-detail-article-listing-lists {
    margin: 0 0 0 5px;

    &__list {
      &:first-child {
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width: 500px) {
  .sidebar {
    .news-detail-article {
      &__headline {
        font-size: 24px;
        line-height: 28px;
      }

      &__sub-headline {
        margin: 10px 0 15px;
        font-size: 20px;
        line-height: 24px;
      }

      &__text {
        line-height: 130%;
        &_top {
          margin-bottom: 15px; //35px
        }
      }
    }

    .news-detail-article-listing {
      margin: 32px 0 0;

      &__img {
        margin-bottom: 30px;
      }
    }

    .news-detail-article-listing-lists {
      &__list {
        &:first-child {
          margin-bottom: 47px;
        }
      }
    }
  }

  .news-detail-article {
    &__headline {
      font-size: 24px;
      line-height: 28px;
    }

    &__sub-headline {
      margin: 10px 0 15px;
      font-size: 20px;
      line-height: 24px;
    }

    &__text {
      line-height: 130%;
      &_top {
        margin-bottom: 15px; //35px
      }
    }
  }

  .news-detail-article-listing {
    margin: 32px 0 0;

    &__img {
      margin-bottom: 30px;
    }
  }

  .news-detail-article-listing-lists {
    &__list {
      &:first-child {
        margin-bottom: 47px;
      }
    }
  }
}
