include ../../ui/input-elem
include ../../ui/btn

mixin footerTopForm
  form(type=`POST`).footer-top-form
    .footer-top-form__input
      +inputElem('type', 'Введите ваше имя', 'input_name')
    .footer-top-form__input
      +inputElem('type', 'Ваш телефон', 'input_phone')
    .footer-top-form__input
      +inputElem('type', 'Введите ваш e-mail', 'input_mail')
    +btn('Отправить', 'btn_red')
