include ../../ui/input-elem
include ../../ui/btn

mixin footerTopForm
  .footer-top-form
    .footer-top-form__input
      +inputElem('type', 'Введите ваше имя', null, null, null)
    .footer-top-form__input
      +inputElem('type', 'Ваш телефон', null, null, null)
    .footer-top-form__input
      +inputElem('type', 'Введите ваш e-mail', null, null, null)
    +btn('Отправить', 'btn_red', '/')
