.news-content {
  padding: 125px 0 60px; //120px
}

.news-container-elems {
  margin: 53px 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__elem {
    width: 24%;
    margin-bottom: 30px;
  }
}

.content-pagination-button {
  display: flex;
  max-width: 882px;
  justify-content: space-between;
  margin-left: auto;
  align-items: center;
  margin-top: 30px;
}
.content-wrap-btn {
  width: 247.37px;
}


.news-content-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-content-settings-checkeds {
  display: flex;
  max-width: 748px;
  justify-content: space-between;
  width: 100%;
  &__elem {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
}

.check-slide-text {
  margin: 0 0 0 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: var(--black);
}

.news-content-settings-falls {
  display: flex;
  position: relative;
  &__name {
    margin: 0 14px 0 0;
  }
  &__option {
    margin: 0;
    border-bottom: 2px solid var(--red);
    font-weight: 700;
    font-size: 16px;
    color: var(--black);
    cursor: pointer;
    display: flex;

    &:hover + .news-content-settings-falls-options {
      display: block;
    }

    span {
      display: inline-block;
      margin: 0 0 0 32px;
    }
  }
}

.news-content-settings-falls-options {
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  background: var(--bej);
  z-index: 3;

  &:hover {
    display: block;
  }

  &__elem {
    margin: 0;
    padding: 3px 26px 2px 14px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--black);
    &:hover {
      opacity: 0.7;
    }
  }
}



.news-content-settings-burger {
  display: none;
  align-items: center;
  cursor: pointer;
  position: relative;


  &__headline {
    margin: 0 0 0 7px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: var(--black);
  }
}


@media (max-width: 1300px) {
  .news-container-elems {
    &__elem {
      width: 32%;
    }
  }
}

@media (max-width: 900px) {
  .news-content {
    padding: 50px 0 60px;
  }

  .news-container-elems {
    &__elem {
      width: 49%;
      margin-bottom: 26px;

      &:nth-child(11),
      &:nth-child(12),
      &:nth-child(13),
      &:nth-child(14),
      &:nth-child(15),
      &:nth-child(16),
      &:nth-child(17),
      &:nth-child(18),
      &:nth-child(19),
      &:nth-child(20) {
        display: none;
      }
    }
  }

  .content-pagination-button {
    flex-direction: column;
    margin-top: 35px;

    .btn {
      height: 55px;
      font-size: 18px;
      line-height: 55px;
    }
  }
  .content-wrap-btn {
    width: 247.37px;
    margin-bottom: 32px;
  }



  .news-content-settings {
    display: none;
  }

  .news-content-settings-falls-options {
    left: 40px;
    max-width: 85px;
  }


  .news-content-settings-burger {
    display: flex;
  }
}

@media (max-width: 600px) {
  .news-container-elems {
    &__elem {
      width: 100%;
    }
  }
}


@media (max-width: 500px) {
  .news-content {
    padding: 40px 0;
  }

  .news-container-elems {
    margin: 37px -21px 0;

    &__elem {
      margin: 0 0 30px;

      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(9),
      &:nth-child(10) {
        display: none;
      }
    }
  }

  .content-pagination-button {
    margin-top: 20px;
  }



  .news-content-settings-burger {
    display: flex;

    &__headline {
      font-size: 15px;
      line-height: 140%;
    }
  }
}
