.wrap-news-slider {
  position: relative;
  padding: 60px 0 0;

  &__headline {
    margin: 0 0 20px;
  }
}

.news-slider {
  .swiper-wrapper {
    .swiper-slide {
      width: auto;
      &__content {
        width: 455px;
        height: 408px;
      }
    }
  }
}

.wrap-news-slider-control {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 3;
  display: flex;
  justify-content: flex-end;
  border-bottom: 4px solid var(--red);
}

.news-slider-control {
  display: flex;
  &_prev {

  }
  &_next {

  }
}

@include md {
  .news-slider {
    .swiper-wrapper {
      .swiper-slide {
        width: auto;

        &__content {
          width: 375px;
          height: 360px;

          .news-elem {
            background-size: cover;
            padding-left: 30px;
          }
        }
      }
    }
  }
}

@include tablet {
  .wrap-news-slider {
    position: relative;
    padding: 40px 0 0;
  }

  .news-slider-control {
    margin-right: 20px;
  }
}

@include sm {
  .wrap-news-slider {
    padding: 20px 0 0;

    &__headline {
      font-size: 23px;
      line-height: 28px;
    }
  }

  .news-slider {
    .swiper-wrapper {
      .swiper-slide {
        width: auto;

        &__content {
          width: 360px;
          height: 350px;

          .news-elem {
            background-size: cover;
            padding-left: 20px;
          }
        }
      }
    }
  }
}
