.main-reviews {
  padding: 210px 0 190px;
}

.wrap-reviews-elem {
  display: flex;
  flex-wrap: wrap;
  margin: -22px;
  .review {
    margin: 22px;
  }
}

.wrap-headline-btn {
  display: flex;
  margin: 0 auto 60px;
  justify-content: space-between;
  max-width: 1513px;
  width: 100%;
  &__headline {
    max-width: 486px;
    width: 100%;
    margin: 0;
    font-weight: 400;
    font-size: 28px;
    line-height: 135%;
    letter-spacing: 0.008em; //0.02em

    span {
      color: var(--red);
      font-weight: 400;
    }
  }
  &__btn {
    margin-top: 12px;
    max-width: 326px;
    width: 100%;
  }
}
