.slider {
  overflow: hidden;
  .swiper-wrapper {
    //overflow: hidden;
    //max-width: 1010px;
    .swiper-slide {
      //max-width: 1010px;
      box-sizing: border-box;
      //border: 2px solid red;
      //height: 100%;
    }
  }
}

.container-slider {
  display: flex;
  height: 620px;
  //max-width: 100%;
  overflow: hidden;
}

.container-slider.container-slider_reverse {
  flex-direction: row-reverse;
}

.slider-left-block {
  background: var(--red);
  //max-width: 732px;
  //max-width: 1010px;
  //width: 100%;
  //max-width: 47%; //max-width: 45%;
  //width: 100%;

  max-width: 1507px;
  width: 100%;
  display: flex;
  //flex-direction: column;
  //justify-content: center;
  justify-content: end;
  z-index: 2;
  align-items: center;
  //flex-basis: 910px;
  &__wrap-text {
    max-width: 450px;
    width: 100%;
    padding-right: 247px;
  }
}

.slider-right-block {
  //max-width: 53%; //max-width: 55%;
  //width: 100%;
  max-width: 1413px;
  width: 100%;
  position: relative;
  //flex-basis: 1010px;
}

.slider-headline {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: var(--white);
  margin: 0;
}

.slider-text {
  font-weight: 400;
  font-size: 25px;
  line-height: 47px;
  margin: 20px 0 0;
  color: var(--white);
}

.control-slider {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 0;
}

.slaider-slide {
  position: relative;
  z-index: 1;
  //max-width: 910px;
  max-width: 100%;
  &__image {
    width: 100%;
    object-fit: fill; //cover
  }
  &__play {
    position: absolute;
    z-index: 3;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    //flex-direction: column;
    justify-content: center;
    align-items: center;
    //height: 200px;
  }
}
