.main-bearing-slider-slide {
  &__img {
    //width: 100%;
  }
  &__headline {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: var(--black);
  }
}
