.main-bearing-size {
  //max-width: 1407px;
  width: 93.5%;
  //width: 48.25%; //48.25%
  display: flex;
  justify-content: end;
  background: var(--white);
  min-height: 600px; //499px
  padding-top: 100px; //100px 95px
  box-sizing: border-box;
  position: relative;
}
.main-bearing-size-wrap-text {
  max-width: 561px;
  width: 100%;
  //margin: 118px 150px 0 80px;
  padding: 98px 150px 0 80px;
  margin-top: 20px;
  &__headline {
    font-weight: 300;
    font-size: 78px;
    line-height: 92px;
    margin: 0 0 2px;
    color: var(--black);

    sup {
      font-size: 40px;
    }
  }
  &__text {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    text-transform: uppercase;
    margin: 0;
    color: var(--grey-light);
  }
}

@media (max-width: 1940px) {
  .main-bearing-size-wrap-text {
    transform: translateX(220px);
    background: var(--white);
    z-index: 3;

    &__headline {
      margin-top: 20px;
    }
  }
}

@media (max-width: 1620px) {
  .main-bearing-size {
    max-width: 745px;
  }
  .main-bearing-size-wrap-text {
    //max-width: 561px;
    //width: 100%;
    transform: translateX(0);
    padding: 0;
    margin: 118px 105px 0 0;
    z-index: 2;
    &__headline {
      margin-top: 0;
      white-space:nowrap;
    }
  }
}

@media (max-width: 1300px) {
  .main-bearing-size {
    height: 460px;
    padding-top: 70px;
    max-width: 600px;
  }
  .main-bearing-size-wrap-text {
    max-width: 591px;
    width: 100%;
    margin: 118px 80px 0 60px;

    &__text {
      font-size: 36px;
      line-height: 48px;
    }
  }
}

@media (max-width: 1140px) {
  .main-bearing-size {
    max-width: 100%;
    width: 100%;
    //flex-wrap: wrap;
    height: 100%;
  }

  .main-bearing-size-wrap-text {
    //width: 100%;
    display: flex;
    max-width: 100%;
    margin: 65px 80px 0 60px;
    height: auto;
    &__headline {
      max-width: 315px;
      width: 100%;
    }
  }
}

@media (max-width: 800px) {
  .main-bearing-size {
    height: auto;
    min-height: auto;
    padding: 50px 0 50px;
    //margin-top: 50px;
  }

  .main-bearing-size-wrap-text {
    flex-wrap: wrap;
    margin: 65px 0 0 25px;
    &__text {
      max-width: 380px;
    }
  }
}

@media (max-width: 400px) {
  .main-bearing-size {
    padding: 50px 0 45px;
  }
  .main-bearing-size-wrap-text {
    //flex-wrap: wrap;
    margin: 35px 0 0 20px;
    &__headline {
      font-size: 60px;
      line-height: 71px;
    }
    &__text {
      font-size: 28px;
      line-height: 36px;
      max-width: 320px;
    }
  }
}
