.wrap-main-bearing-slider-info {
  position: absolute;
  top: 155px;
  width: 100%;
  z-index: 2;
}

.container-main-bearing-slider-info {
  max-width: 1720px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: start;
}

.main-bearing-slider-info {
  max-width: 557px;
  width: 100%;
  padding-left: 100px;

  &__text {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: 0.008em;
    margin: 0;
    color: var(--black);
    span {
      color: var(--red);
      font-weight: 500;
      letter-spacing: 0.001em;
    }
  }
  &__wrap-buttons {
    margin: 39px 0 0 -5px;
    display: flex;
    justify-content: space-between;

    .btn {
      height: 55px;
      line-height: 55px;
    }
  }
}

.main-bearing-slider-info-btn {
  max-width: 261px;
  width: 100%;
  &:last-child {
    max-width: 280px;
  }
}


@media (max-width: 1620px) {
  .main-bearing-slider-info {
    padding-left: 85px;

    &__text {
      letter-spacing: 0.026em;
    }
    //&__wrap-buttons {
      //margin: 39px 0 0 -5px;

      //.btn:first-child {
      //  margin-right: 20px;
      //}
    //}
  }
}
