.wrap-main-bearing-slider-info {
  position: absolute;
  top: 180px; //155px
  width: 100%;
  z-index: 2;
}

.container-main-bearing-slider-info {
  max-width: 1720px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: start;
}

.main-bearing-slider-info {
  max-width: 557px;
  width: 100%;
  padding-left: 100px;

  &__text {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: 0.008em;
    margin: 0;
    color: var(--black);
    span {
      color: var(--red);
      font-weight: 500;
      letter-spacing: 0.001em;
    }
  }
  &__wrap-buttons {
    margin: 39px 0 0 -5px;
    display: flex;
    justify-content: space-between;

    .btn {
      height: 55px;
      line-height: 55px;
    }
  }
}

.main-bearing-slider-info-btn {
  max-width: 261px;
  width: 100%;
  &:last-child {
    max-width: 280px;
  }
}


@media (max-width: 1620px) {
  .wrap-main-bearing-slider-info {
    top: 155px;
  }

  .main-bearing-slider-info {
    padding-left: 85px;

    &__text {
      letter-spacing: 0.026em;
    }
    //&__wrap-buttons {
    //margin: 39px 0 0 -5px;

    //.btn:first-child {
    //  margin-right: 20px;
    //}
    //}
  }
}

@media (max-width: 1300px) {
  .wrap-main-bearing-slider-info {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  .main-bearing-slider-info {
    padding-left: 60px;
  }
}

@media (max-width: 1040px) {
  .wrap-main-bearing-slider-info {
    top: 70px;
    //padding-left: 10px; //main-bearing-slider-info__wrap-buttons
  }

  .main-bearing-slider-info {
    &__wrap-buttons {
      margin: 45px 0 0 -5px;
    }
  }

  .main-bearing-slider-info-btn {
    .btn {
      font-size: 18px;
    }
  }
}

@media (max-width: 800px) {
  .wrap-main-bearing-slider-info {
    top: 50px;
  }

  .main-bearing-slider-info {
    padding-left: 35px;
    max-width: 707px;
    &__text {
      width: 100%;
    }
    &__wrap-buttons {
      max-width: 557px;
      //margin-top: 25px;
      margin: 25px 0 0 0;
    }
  }
}



@media (max-width: 400px) {
  .wrap-main-bearing-slider-info {
    top: 40px;
  }
  .main-bearing-slider-info {
    padding: 0 20px 0;

    &__wrap-buttons {
      flex-wrap: wrap;
      margin: 30px 0 0;

      //&:first-child {
      //  .btn {
      //    margin-bottom: 10px;
      //  }
      //}
    }

    &__text {
      font-size: 23px;
      //border: 1px solid red;
    }
  }

  .main-bearing-slider-info-btn {
    max-width: 100%;
    &:last-child {
      max-width: 100%;
      margin-top: 15px;
    }
  }
}
