.slider {
  overflow: hidden;
  width: auto;
  height: 100%;
  .swiper-wrapper {
    .swiper-slide {
      box-sizing: border-box;
    }
  }
}

.container-slider {
  display: flex;
  height: 620px;
  overflow: hidden;
  width: 100%;
}

.container-slider.container-slider_reverse {
  flex-direction: row-reverse;
  .control-slider {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 0;
    right: -1px; //0
  }
}

.slider-left-block {
  width: 51.75%; //51% 51.5%
  z-index: 2;
}

.slider-right-block {
  width: 48.25%; //49% 48.5%
  position: relative;
}

.control-slider {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 0;
}

.slider-slide {
  &__image {
    width: 100%;
    object-fit: cover; //cover
    height: 100%;
  }
  &__play {
    //width: 100%;
  }
}

.slaider-slide {
  position: relative;
  z-index: 1;
  width: auto;
  height: 620px;

  &__play {
    position: absolute;
    z-index: 3;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
