.slider {
  overflow: hidden;
  .swiper-wrapper {
    //overflow: hidden;
    //max-width: 1010px;
    .swiper-slide {
      //max-width: 1010px;
      box-sizing: border-box;
      //border: 2px solid red;
      //height: 100%;
    }
  }
}

.container-slider {
  display: flex;
  height: 620px;
  //max-width: 100%;
  overflow: hidden;
}

.container-slider.container-slider_reverse {
  flex-direction: row-reverse;
  .control-slider {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
  }
}

.slider-left-block {
  //background: var(--red);
  max-width: 1507px;
  width: 100%;
  //display: flex;
  //justify-content: end;
  z-index: 2;
  //align-items: center;
  //&__wrap-text {
  //  max-width: 450px;
  //  width: 100%;
  //  padding-right: 247px;
  //}
  //&__wrap-image {
  //  margin: 0 30px 122px 0;
  //}
}

.slider-right-block {
  //max-width: 53%; //max-width: 55%;
  //width: 100%;
  max-width: 1413px;
  width: 100%;
  position: relative;
}

.control-slider {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 0;
}

.slaider-slide {
  position: relative;
  z-index: 1;
  //max-width: 910px;
  max-width: 100%;
  &__image {
    width: 100%;
    object-fit: fill; //cover
  }
  &__play {
    position: absolute;
    z-index: 3;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
