.main-reviews {
  padding: 210px 0 190px;
}

.wrap-reviews-elem {
  display: flex;
  flex-wrap: wrap;
  margin: -22px -24px -22px -22px; //-22px -30px -22px -22px     -22px
}

.wrap-headline-btn {
  display: flex;
  margin: 0 auto 60px;
  justify-content: space-between;
  max-width: 1513px;
  //width: 100%;
  &__headline {
    max-width: 486px;
    width: 100%;
    margin: 0;
    font-weight: 400;
    font-size: 28px;
    line-height: 135%;
    letter-spacing: 0.008em; //0.02em

    span {
      color: var(--red);
      font-weight: 400;
    }
  }
  &__btn {
    margin-top: 30px;
    max-width: 326px;
    width: 100%;
  }
}

@media (max-width: 1620px) {

  .main-reviews {
    padding: 155px 0 190px; //~140px
  }

  .wrap-headline-btn {
    max-width: 1432px;

    &__btn {
      margin-top: 35px;
      max-width: 326px;
      width: 100%;
      .btn {
        height: 55px;
        line-height: 50px;
      }
    }
  }

  .wrap-reviews-elem {
    display: flex;
    flex-wrap: wrap;
    margin: -22px 12px;
  }
}

@media (max-width: 1500px) {
  .wrap-reviews-elem {
    margin: -12px -15px;
  }
  .wrap-headline-btn {
    padding: 0 60px;
  }
}


@media (max-width: 1300px) {
  .main-reviews {
    padding: 220px 0 120px; //190px 0 120px
  }

  .wrap-headline-btn {
    margin-bottom: 30px;

    &__btn {
      max-width: 266px;

      .btn {
        height: 45px;
        line-height: 45px;
      }
    }
  }
}

@media (max-width: 1040px) {
  .wrap-headline-btn {
    margin-bottom: 30px;
    &__btn {
      margin-top: 10px;
    }
  }
}

@media (max-width: 800px) {
  .wrap-headline-btn {
    padding: 0 25px 0 30px;
    &__headline {
      max-width: 400px;
    }

    &__btn {
      margin-top: 5px;

      .btn {
        height: 40px;
        line-height: 35px;
      }
    }
  }

  .wrap-reviews-elem {
    margin: -2px 0 0 10px;
  }
}

@media (max-width: 400px) {
  .main-reviews {
    padding: 110px 0 60px;
  }
  .wrap-headline-btn {
    flex-wrap: wrap;
    padding: 0 20px;

    &__headline {
      font-size: 23px;
      line-height: 140%;
    }

    &__btn {
      margin-top: 25px;
      max-width: 100%;
      .btn {
        height: 50px;
        line-height: 50px;
      }
    }
  }

  .wrap-reviews-elem {
    margin: 0 -12px;
  }
}
