.vacancies-container {
  display: flex;
  &__left {
    margin-right: 23px;
    width: 100%;
    max-width: 1132px;
  }
  &__right {
    transform: translateY(-57px);

    .sidebar-manager {
      top: 100px;
    }
  }
}


@include md {
  .vacancies-container {
    &__left {
      margin: 0;
      max-width: 1132px;
    }
    &__right {
      display: none;
    }
  }
}


