.service-detail-articles {
  &__elem {
    margin: 53px 0 0;
    padding-right: 10px;

    &:first-child {
      margin: 31px 0 0;
    }
  }

  &__line {
    width: 225px;
    height: 4px;
    background: var(--red);
    margin-top: 50px;
  }
}


@include tablet {
  .service-detail-articles {
    &__elem {
      margin: 39px 0 0;
    }
  }
}

@include sm {
  .service-detail-articles {
    &__elem {
      margin: 17px 0 0;
      padding-right: 0;

      &:first-child {
        margin: 38px 0 0;
      }
    }

    &__line {
      margin-top: 30px;
    }
  }
}
