@import '_libs';
@import '_vars';
@import './_mixins.scss';
@import 'fonts';

body {
  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Roboto, serif;
}

.body {
  &_hidden {
    overflow: hidden;
  }

  &_inherit {
    overflow: inherit;
  }
}


.container {
  &__2920 {
    max-width: 1521px;
    margin: 0 auto;
  }
}

* {
  font-family: Rubik, sans-serif;
  transition: all 0.3s;
}


.simplebar-scrollbar {
  transition: all 0.01s;

  &.simplebar-visible {
    opacity: 1;

    &::before {
      opacity: 1;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }

  &::before {
    border-radius: 0;
    background: var(--red);
    opacity: 1;
  }
}

.simplebar-track.simplebar-vertical {
  background: var(--grey-light);
  //border-radius: 5px;

  .simplebar-scrollbar {
    &::before {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

//.simplebar-scrollbar

.swiper-pagination-bullet {
  border-radius: 50px;
  cursor: pointer;
}

@media (max-width: 1620px) {
  .container {
    &__2920 {
      max-width: 1432px;
      padding: 0 20px;
    }
  }
}

@media (max-width: 1300px) {
  .container {
    &__2920 {
      max-width: 1432px;
      padding: 0 60px;
    }
  }
}



@media (max-width: 800px) {
  .container {
    &__2920 {
      max-width: 1432px;
      padding: 0 24px 0 30px;
    }
  }
}

@media (max-width: 500px) {
  .container {
    &__2920 {
      max-width: 1432px;
      padding: 0 22px 0 20px;
    }
  }
}

@import 'imports';
