.header-parthers {
  height: 373px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .header__wrap-menu {
    top: 40px;
  }
}

@media (max-width: 1300px) {
  .header-parthers,
  .header-errors,
  .header-service,
  .header-products-detail {
    .header-contacts {
      margin-left: 20px;
      max-width: 360px; //360px
      &__phone {
        display: none;
      }
    }

    .header__wrap-menu {
      top: 25px;
    }
  }
}

@media (max-width: 1100px) {
  .header-parthers,
  .header-errors,
  .header-service,
  .header-products-detail {
    .header-contacts {
      max-width: 420px;
    }
  }
}

@media (max-width: 1040px) {
  .news-detail {
    .header-parthers {
      height: 490px;
    }
  }
}

@media (max-width: 800px) {
  .header-parthers {
    height: 300px;
  }

  .news-detail {
    .header-parthers {
      height: 300px;
    }
  }
}

@media (max-width: 700px) {
  .header-parthers,
  .header-errors,
  .header-service,
  .header-products-detail {
    .header-contacts {
      //max-width: 430px;
      margin-left: 0;
      width: auto;

      &__email {
        display: none;
      }
      &__wrap-btn {
        display: none;
      }
    }
  }
}

@media (max-width: 400px) {
  .header-parthers {
    height: 220px;
  }

  .news-detail {
    .header-parthers {
      height: 220px;
    }
  }
}
