.header-slider {
  z-index: 2;
  width: 100%;
  .swiper-wrapper {

  }
  .swiper-slide {

  }
}

.wrap-header-info {
  position: absolute;
  top: 210px;
  z-index: 3;
  width: 100%;
}

.wrap-control-header-slider {
  position: absolute;
  z-index: 2;
  bottom: 4px;
  //width: 100%;
  //max-width: 1407px;
  width: 100%;
  max-width: 50%;
  display: flex;
  justify-content: end;
}
.control-header-slider {
  max-width: 1407px;
  display: flex;
}
