.header-info {
  max-width: 746px; //746
  width: 100%;
  //&__logo {
  //
  //}
  &__headline {
    margin: 84px 0 20px;
    color: var(--white);
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
  }
  &__text {
    margin: 0 0 32px;
    color: var(--white);
    font-weight: 400;
    font-size: 25px;
    line-height: 125%;
    letter-spacing: 0.02em;
  }
  &__wrap-btn {
    max-width: 261px;
    width: 100%;
    .btn {
      height: 55px;
      line-height: 55px;
    }
  }
}
