.header-slider {
  z-index: 2;
  width: 100%;
  overflow: hidden;
  .swiper-wrapper {

  }
  .swiper-slide {

  }
}

.wrap-header-info {
  position: absolute;
  top: 210px;
  z-index: 3;
  width: 100%;
}

.wrap-control-header-slider {
  position: absolute;
  z-index: 2;
  //bottom: 4px;
  top: 0;
  //width: 100%;
  //max-width: 1407px;
  width: 100%;
  max-width: 50%;
  display: flex;
  justify-content: end;
}
.control-header-slider {
  max-width: 1407px;
  display: flex;
}

@media (max-width: 1300px) {
  .wrap-header-info {
    position: absolute;
    top: 148px;
    z-index: 3;
    width: 100%;
  }

  .header-slider {
    height: 700px;

    .swiper-slide {
      &__image {
        height: 700px;
      }
    }
  }
}
