.header {
  position: relative;
  //height: auto;
  &__wrap-menu {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 50px;
  }
}

@media (max-width: 1300px) {
  .header {
    //max-height: 700px;
    &__wrap-menu {
      top: 25px;
    }
  }
}
