mixin mainBearingSliderSlide(img, headline, className)
  div(class= `main-bearing-slider-slide ${className}`)
    img(src=`../../images/main/${img}`).main-bearing-slider-slide__img
    .main-bearing-slider-slide__wrap-headline
      p.main-bearing-slider-slide-headline!= headline
