include ../../ui/arrow
//include ../ui/pop-up-multimedia
include ../../ui/pop-up-multimedia-video
include main-slaider-slide
include main-slaider-information

mixin mainSlaider(elem, typeSlider, arrow, classInformation, svgElem, headline, text)
  div(class=`container-slider ${typeSlider}`)
    .slider-left-block
      +mainSlaiderInformation(classInformation, svgElem, headline, text)
    .slider-right-block
      .slider
        .swiper-wrapper
          each el in elem
            if el.video
              .swiper-slide
                +mainSlaiderSlide(el.img, null)
            else
              .swiper-slide
                +popUpMultimediaVideo
                //+mainSlaiderSlide(el.img, 'slaider-slide__play')
                  +popUpMultimediaVideo
        .control-slider
          .control-slider-prev
            +arrow(`${arrow[0]}`)
          .control-slider-next
            +arrow(`${arrow[1]}`)

