include ../../ui/play

mixin mainSlaiderSlide(img, className)
  .slaider-slide
    img(src=`../../images/main/${img}`).slider-slide__image
    if className === 'slaider-slide__play'
      div.slaider-slide__play
        +play

