.arrow {
  width: 100px;
  height: 100px;
  padding: 27px 0 0 38px;
  box-sizing: border-box;
  cursor: pointer;
  //svg {
  //  cursor: pointer;
  //}
}

.arrow_right {
  transform: rotate(180deg);
}

.arrow_red {
  background: var(--red);
  svg {
    path {
      stroke: var(--white);
    }
  }
}

.arrow_white {
  background: var(--white);
  svg {
    path {
      stroke: var(--black);
    }
  }
}

.arrow_grey {
  background: var(--grey);
  svg {
    path {
      stroke: var(--white);
    }
  }
}
.arrow_grey-light {
  background: var(--grey-light);
  svg {
    path {
      stroke: var(--white);
    }
  }
}

.arrow_bej {
  background: var(--bej);
  svg {
    path {
      stroke: var(--black);
    }
  }
}
