.arrow {
  width: 100px;
  height: 100px;
  //padding: 27px 0 0 38px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 0.7;
  }
}

.arrow_right {
  transform: rotate(180deg);
}

.arrow_red {
  background: var(--red);
  svg {
    path {
      stroke: var(--white);
    }
  }
}

.arrow_white {
  background: var(--white);
  svg {
    path {
      stroke: var(--black);
    }
  }
}

.arrow_grey {
  background: var(--grey);
  svg {
    path {
      stroke: var(--white);
    }
  }
}
.arrow_grey-light {
  background: var(--grey-light);
  svg {
    path {
      stroke: var(--white);
    }
  }
}

.arrow_bej {
  background: var(--bej);
  svg {
    path {
      stroke: var(--black);
    }
  }
}

@media (max-width: 1300px) {
  .arrow {
    width: 70px;
    height: 70px;
    //padding: 19.63px 0 0 27.41px;

    svg {
      width: 15.18px;
      height: 30.74px;
    }
  }
}

@media (max-width: 800px) {
  .arrow {
    width: 50px;
    height: 50px;
    //padding: 14.5px 0 0 19.75px;

    svg {
      width: 10.5px;
      height: 21px;
    }
  }
}
