.bearing-elem {
  cursor: pointer;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;



  &__headline {
    text-align: left;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    max-width: 152px;
    margin: 5px 0 0;

    svg {
      margin-left: 5px;
      * {
        stroke: var(--black);
      }
    }
  }

  &:hover {
    .bearing-elem__headline {
      color: var(--red);
      text-decoration: underline;
    }
    svg {
      * { //path, circle, line, ellipse
        stroke: var(--red);
      }
    }
  }
}

@media (max-width: 1040px) {
  .bearing-elem {
    cursor: pointer;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__headline {
      max-width: 100%;
    }
  }
}

@media (max-width: 530px) {
  .bearing-elem {
    &__image {
      svg {
        width: 80%;
      }
    }
    //> svg {
    //  width: 70%;
    //  margin-left: 5px;
    //  * {
    //    stroke: var(--black);
    //  }
    //}
  }
}
