.brand {
  width: 138.54px;
  height: 138.54px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--grey-white);
  cursor: pointer;

  &__img {
    filter: grayscale(100%);
  }

  &:hover {
    .brand__img {
      filter: grayscale(0%);
    }
  }
}

@media (max-width: 500px) {
  .brand {
    width: 76.47px;
    height: 76.47px;

    &__img {
      width: 40.86px;
      height: 17.62px;
    }
  }
}
