.btn {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  display: inline-block;
  color: var(--white);
  box-sizing: border-box;
  cursor: pointer;
}

.btn_red {
  background: var(--red);
  color: var(--white);

  &:hover {
    border: 1px solid var(--red);
    color: var(--red);
    background: var(--white);
  }
}

.btn_white {
  background: var(--white);
  color: var(--black);
  border: 2px solid var(--black);
  line-height: 46px;

  &:hover {
    background: var(--white);
    color: var(--red);
    border: 2px solid var(--red);
  }
}

.btn_invisible {
  background: none;
  color: var(--white);
  border: 2px solid var(--white);
  line-height: 46px;

  &:hover {
    background: var(--back-button);
    color: var(--red);
    //border: 2px solid var(--red);
  }
}

@media (max-width: 1300px) {
  .btn {
    height: 45px;
    line-height: 45px;
    font-size: 16px;
  }
}
