.checkbox-elem {
  position: relative;
  align-items: center;
  display: flex;
  cursor: pointer;
  &__check {
    display: none;
  }
  &__label {
    display: flex;
    font-family: 'Roboto', sans-serif;
    &:before {
      content: " ";
      color: #000;
      display: inline-block;
      margin-right: 15px;
      position: relative;
      text-align: center;
      width: 25.5px;
      height: 22.5px;
      background: #FFF;
      border: 1px solid #e3e3e3;
      vertical-align: middle;
      box-sizing: border-box;
    }
  }
  &__check:checked + label:before {
    border: 1px solid red;
  }
  &__check:checked + &__mark {
    display: block;
  }
  &__mark {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    border: 1.5px solid var(--red);
    width: 21px;
    height: 21px;
    box-sizing: border-box;
    border-radius: 3px;
    svg {
      position: absolute;
      top: -8px;
    }
  }
}


@media (max-width: 1300px) {
  .checkbox-elem {
    &__label {
      max-width: 369px;
      line-height: 120%;
    }
  }
}
@media (max-width: 800px) {
  .checkbox-elem {
    &__label {
      max-width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .checkbox-elem {
    &__label {
      max-width: 100%;
      letter-spacing: 0.02em;
      &:before {
        margin-right: 30px;
      }
    }
  }
}
