.main-menu {
  display: flex;
  justify-content: space-between;
  z-index: 4;
  .main-menu__burder { //&__burder
    display: none;
    cursor: pointer;
  }
}
.main-menu-list {
  display: flex;
  justify-content: space-between;
  max-width: 482px;
  width: 100%;
  padding: 0;
}
.main-menu-elem {
  list-style-type: none;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  &__href {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
  }
  &:hover {
    .main-menu-elem__href {
      color: var(--red);
    }
    svg {
      path {
        stroke: var(--red);
      }
    }
    .main-menu-vertical { // z-index - повысить
      display: block;
    }
  }
  svg {
    padding-left: 4.5px;
    cursor: pointer;
  }
}

.header-contacts {
  max-width: 537px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  &__email {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
    text-transform: uppercase;
  }
  &__phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
  }
  &__phone-image {
    display: none;
    cursor: pointer;
  }
  &__wrap-btn {
    width: 100%;
    max-width: 177px;

    .btn {
      height: 40px;
      font-weight: 500;
      font-size: 12px;
      line-height: 40px;
      text-transform: uppercase;
    }
  }
}


.main-menu.main-menu_black {
  //border: 2px solid red;
  .main-menu__burder {
    svg {
      * {
        opacity: 1;
        stroke: var(--black);
      }
    }
  }
  .main-menu-elem {
    &__href {
      color: var(--black);
    }
    svg {
      path {
        stroke: var(--black);
      }
    }
    &:hover {
      svg {
        path {
          stroke: var(--red);
        }
      }
    }
  }
  .header-contacts {
    &__email {
      color: var(--black);
    }
    &__phone {
      color: var(--black);
    }
    &__wrap-btn {
      .btn {
        color: var(--black);
        border-color: var(--black);
      }
    }

    &__phone-image {
      svg {
        * {
          stroke: var(--black);
        }
      }
    }
  }
}

.main-menu.main-menu_parthers {
  align-items: center;
  .main-menu-list {
    max-width: 650px;
    margin: 0;
    &__logo {
      margin-right: 30px;
    }

    .main-menu-elem {
      .main-menu-vertical {
        top: 25px;
        z-index: 5;
      }
    }
  }

  .main-logo {
    display: none;
    margin: 0 auto 0 45px;
    &__logo {
      width: 100.13px;
      height: 52px;
    }
  }
}

.main-menu.main-menu_parthers.main-menu_service {

}

@media (max-width: 1100px) {
  .main-menu {
    .main-menu__burder { //&__burder
      display: block;
    }
  }
  .main-menu-list {
    display: none;
  }

  .header-contacts {
    max-width: 431px;
    &__phone {
      display: none;
    }
    &__phone-image {
      display: block;
    }
  }

  .main-menu.main-menu_parthers {
    .main-logo {
      display: block;
    }
  }
}

//@media (max-width: 700px) {
//
//}

@media (max-width: 500px) {
  .header-contacts {
    justify-content: end;
    &__email {
      display: none;
    }

    &__wrap-btn {
      display: none;
    }
  }

  .main-menu.main-menu_parthers {
    .main-logo {
      //display: none;
      margin: 0 auto;
      &__logo {
        width: 100.13px;
        height: 52px;
      }
    }
  }
}
