.news-elem {
  padding-left: 50.11px;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 28px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: background-size .3s ease-in;
  width: 100%;
  &:hover {
    background-size: 150%;
  }

  &__href {
    padding: 13px 19px 9px;
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
    background: var(--red);
    text-align: center;
    //line-height: 36px;
  }
  &__headline {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    letter-spacing: 0.0001em;
    color: var(--white);
    margin: 30px 0 0;
    max-width: 350px;
  }
  &__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--white);
    margin: 20px 0 0;
    max-width: 355px;
  }
  &__date {
    font-weight: 700;
    font-size: 12px;
    color: var(--white);
    margin: auto 0 0 0;
  }
}

.news-elem-wrap-href {
  display: flex;
}

.news-elem.news-elem-big {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0 0 45px 64px;
  max-width: 910px;

  .news-elem__headline {
    //font-family: 'Roboto', sans-serif;
    margin: 25px 0 0 3px;
    max-width: 629px;
    font-size: 25px;
    letter-spacing: 0.001em;
  }

  .news-elem__href {
    padding: 14px 19px 12px;
  }
}


@media (max-width: 1360px) {

  //.news-elem {
  //  width: 100%;
  //}
  //
  //.news-elem.news-elem-big {
  //  height: 665px;
  //}
}

@media (max-width: 1620px) {
  .news-elem.news-elem-big {
    padding: 0 0 65px 52px;
    .news-elem__href {
      padding: 10px 14px 12px;
    }
  }

  .news-elem {
    padding-left: 30px;
  }
}

@media (max-width: 1040px) {
  .news-elem.news-elem-big {
    max-width: 100%;
  }
}
