.pages-pagination {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  svg {
    margin-right: 10px;
    * {
      stroke: white;
    }
    &:last-child {
      display: none;
    }
  }
  &__img {
    margin-right: 16px;
  }
  &__wrap-elems {
    display: flex;
    align-items: center;
  }
}

.pages-pagination-elem {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--white);
  text-decoration: none;
  margin-right: 10px;
}


@media (max-width: 800px) {
  .pages-pagination {
    margin-bottom: 35px;
  }
}

@media (max-width: 400px) {
  .pages-pagination-elem {
    font-size: 14px;
    white-space: nowrap;
  }

  .pages-pagination {
    &__img {
      margin-right: 10px;
    }
    //margin-top: 5px;
  }
}
