.pop-up-accessories-list {
  display: flex;
  flex-direction: column;
  //padding: 15px 0 20px;
  margin: 0 0 40px;

  &:last-child {
    //padding: 15px 0 30px;
  }

  &:first-child {
    //margin: 10px 0 0;
  }
}

.pop-up-accessories-list-texts {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__img {

  }

  &__headline {
    margin: 0 0 0 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    max-width: 500px;
  }

  &__arrow {
    margin: 5px 0 0 20px;
  }
}

.pop-up-accessories-list-list {
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 57px;

  &__elem {
    display: inline-block;
    text-decoration: none;
    color: var(--black);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin: 5px 0 7px;
    letter-spacing: 0.015em;

    &:hover {
      color: var(--red);
    }
  }
}

@media (max-width: 950px) {
  .pop-up-accessories-list {
    padding: 0;
    margin: 0;
    &:last-child {
      padding: 0;
    }
  }
  .pop-up-accessories-list-list {
    margin: 12px 0 0 57px;

    &__elem {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .pop-up-accessories-list-texts {
    margin: 40px 0 0;
  }
}

@media (max-width: 500px) {
  .pop-up-accessories-list-texts {
    margin: 34px 0 0;
    &__headline {
      margin: 0 0 0 13px;
    }

    &__arrow {
      margin: 5px 0 0 8px;
    }

    &__img {
      width: 37.16px;
      height: 37.16px;
    }
  }

  .pop-up-accessories-list-list {
    margin: 12px 0 0 52px;
  }
}
