.pop-up-vacancies-form {
  margin: 38px 0 0;
  max-width: 545px;

  &__input {
    margin: 0 0 20px;
  }

  &__btn {
    margin: 20px 0 0;
    .btn {
      height: 55px;
    }
  }

  &__description {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--black);
    margin: 30px auto 0;
    max-width: 500px;
    letter-spacing: 0.02em;
  }
}

.pop-up-vacancies-form-fail {
  display: flex;
  padding-left: 5px;
  justify-content: space-between;
  max-width: 520px;
  &__btn {
    width: 166px;
    .btn {
      font-weight: 400;
      height: 55px;
    }
  }
}

.pop-up-vacancies-form-fail-texts {
  &__headline {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 26px;
  }
  &__text {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
}

.pop-up-vacancies-form-put-fail { // загрузка файла
  padding: 0 0 25px 5px;
  &__headline {
    margin: 30px 0 10px;
  }
}

.pop-up-vacancies-form-put-fail-icons {
  display: flex;
  align-items: center;
  &__file {
    cursor: pointer;
  }
  &__text {
    margin: 0 45px 0 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
  &__dell {
    cursor: pointer;
  }
}


@media (max-width: 800px) {
  .pop-up-vacancies-form {
    max-width: 780px;
    margin-right: 20px;

    &__description {
      //font-family: 'Roboto', sans-serif;
      //font-style: normal;
      //font-weight: 400;
      //font-size: 14px;
      //line-height: 16px;
      //color: var(--black);
      margin: 25px 0 0 30px;
      max-width: 500px;
    }
  }

  .pop-up-vacancies-form-fail {
    display: flex;
    padding-left: 5px;
    justify-content: space-between;
    max-width: 580px;
    margin-bottom: 30px;

    &__btn {
      width: 220px;
    }
  }
}
