.reference-checkbox {
  &__label {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    border: 1.4px solid var(--red);
    border-radius: 33px;
    padding: 4px 21px 4px 20px;
    cursor: pointer;
    display: inline-block;
  }

  &__checkbox {
    display: none;
    &:checked + .reference-checkbox__label {
      background: var(--red);
      color: var(--white);
    }
  }
}


@media (max-width: 800px) {
  .reference-checkbox {
    &__label {
      padding: 4px 18px 4px 16px;
    }
  }
}

@media (max-width: 500px) {
  .reference-checkbox {
    &__label {
      padding: 4px 16px 4px 14px;
    }
  }
}
