.review {
  width: 152px;
  height: 152px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--grey-white);
  box-sizing: border-box;
  &__img {
    filter: grayscale(100%)
  }
  &:hover {
    .review__img {
      filter: grayscale(0);
    }
  }
}
