.review {
  width: 152px;
  height: 152px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--grey-white);
  box-sizing: border-box;
  margin: 22px;

  &__img {
    filter: grayscale(100%)
  }
  &:hover {
    .review__img {
      filter: grayscale(0);
    }
  }
}

@media (max-width: 1500px) {
  .review {
    width: 100px;
    height: 100px;
    margin: 15px;

    &__img {
      width: 64.47px;
    }
  }
}

@media (max-width: 800px) {
  .review {
    width: 120px;
    height: 120px;
    margin: 16.5px;

    &__img {
      width: 77.37px;
      //height: 22.89px;
    }
  }
}

@media (max-width: 400px) {
  .review {
    width: 100px;
    height: 100px;
    margin: 0 14px 25px;
  }
}
