.team-elem {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;//
  justify-content: flex-end;//
  background-size: cover;
  cursor: pointer;

  &__back {
    position: absolute;
    bottom: 0;
  }

  &:hover {
    //background-size: 110% 110%;
    //box-shadow: 0 2px 15px rgba(0, 0, 0, 0.9);
  }
}
.team-elem-wrap-text {
  z-index: 2;
  padding: 0 30px 24px 47px;//padding: 493px 30px 24px 47px;
  min-height: 324px; //348px;
  //box-sizing: border-box;
  //padding: 100px 0 0;
  &__headline {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 10px;
    color: var(--white);
  }
  &__department {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--white);
    margin: 0 0 10px;
  }
  &__phone {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: var(--white);
    margin: 0 0 10px;
  }
  &__email {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: var(--red);
    margin: 0 0 10px;
  }
  &__text {
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
  }
}


@media (max-width: 1150px) {
  .team-elem {
    &__back {
      width: 100%;
      bottom: -200px;
    }
  }
  //width: 100%;
  .team-elem-wrap-text {
    padding: 0 30px 24px 72px;//padding: 493px 30px 24px 72px;
  }
}

@media (max-width: 800px) {
  .team-elem-wrap-text {
    padding: 0 30px 24px 72px;//padding: 493px 30px 24px 72px;
    min-height: 224px;
    height: auto;
  }
}

@media (max-width: 500px) {
  .team-elem-wrap-text {
    padding: 0 25px 24px 30px;
  }
  .team-elem {
    &__back {
      width: 100%;
      bottom: 0;
    }
  }
}
